[mariadb]
innodb=OFF
default_storage_engine=MyISAM
key_buffer_size=10G
myisam_max_sort_file_size=10G
myisam_repair_threads=100
# myisam_sort_buffer_size=50G

# https://severalnines.com/blog/database-performance-tuning-mariadb/
query_cache_type=OFF
