{% extends "layouts/blog.html" %}

{% block title %}Introducing the Pirate Library Mirror: Preserving 7TB of books (that are not in Libgen){% endblock %}

{% block meta_tags %}
{% endblock %}

{% block body %}
  <h1>Introducing the Pirate Library Mirror: Preserving 7TB of books (that are not in Libgen)</h1>
  <p style="font-style: italic">
    annas-blog.org, 2022-07-01
  </p>
  <p>
    This project aims to contribute to the preservation and libration of human knowledge. We make our small and humble contribution, in the footsteps of the greats before us.
  </p>
  <p>
    The focus of this project is illustrated by its name:<br>
    <strong>Pirate</strong> - We deliberately violate the copyright law in most countries. This allows us to do something that legal entities cannot do: making sure books are mirrored far and wide.<br>
    <strong>Library</strong> - Like most libraries, we focus primarily on written materials like books. We might expand into other types of media in the future.<br>
    <strong>Mirror</strong> - We are strictly a mirror of existing libraries. We focus on preservation, not on making books easily searchable and downloadable (access) or fostering a big community of people who contribute new books (sourcing).
  </p>
  <p>
    The first library that we have mirrored is Z-Library. This is a popular (and illegal) library. They have taken the Library Genesis collection and made it easily searchable. On top of that, they have become very effective at solliciting new book contributions, by incentivizing contributing users with various perks. They currently do not contribute these new books back to Library Genesis. And unlike Library Genesis, they do not make their collection easily mirrorable, which prevents wide preservation. This is important to their business model, since they charge money for accessing their collection in bulk (more than 10 books per day).
  </p>
  <p>
    We do not make moral judgements about charging money for bulk access to an illegal book collection. It is beyond a doubt that the Z-Library has been successful in expanding access to knowledge, and sourcing more books. We are simply here to do our part: ensuring the long-term preservation of this private collection.
  </p>
  <p>
    We would like to invite you to help preserve and liberate human knowledge by downloading and seeding our torrents. See the project page for more information about how the data is organized.
  </p>
  <p>
    We would also very much invite you to contribute your ideas for which collections to mirror next, and how to go about it. Together we can achieve much. This is but a small contribution among countless others. Thank you, for all that you do.
  </p>
  <p>
    - Anna and the Pirate Library Mirror team (<a href="https://twitter.com/AnnaArchivist">Twitter</a>, <a href="https://www.reddit.com/user/AnnaArchivist">Reddit</a>)
  </p>
  <p>
    <em>We do not link to the Pirate Library Mirror from this blog. Please find it yourself.</em>
  </p>
{% endblock %}
