[mariadb]
port = 3333

key_buffer_size=10M

innodb_buffer_pool_size=10G
innodb_log_file_size=1G
innodb_sort_buffer_size=64M

log-bin
log-basename=mariapersist
server_id=100
expire_logs_days=30

# https://severalnines.com/blog/database-performance-tuning-mariadb/
max_connections=500
query_cache_type=OFF

[client]
binary-as-hex = true
