{% extends "layouts/index.html" %}

{% block title %}{{ gettext('page.donate.title') }}{% endblock %}

{% block body %}
  <h2 class="mt-4 mb-1 text-3xl font-bold">{{ gettext('page.donate.header') }}</h2>

  <p class="mb-4">
    {{ gettext('page.donate.text1') }}
  </p>

  <p class="mb-4">
    {{ gettext('page.donate.text2') }}
  </p>

  <p class="mb-4">
    {{ gettext('page.donate.text3', donations='$15, $2, $8, $111, $1, $5, $65, $10, $0.50, $14, $4, $140, $2, $35, $16, $148, $25, $11, $100, $2, $5, $20, $50, $69, $135, $5,000, $410, $1.37, $10,000, $0.50, $40, $20, $10,000') }}
  </p>

  <p class="mb-2">
    {{ gettext('page.donate.text4', email=('<a href="mailto:AnnaArchivist@proton.me">AnnaArchivist@&#8203;proton.&#8203;me</a>' | safe)) }}
  </p>

  <script>
    var hasScrolled = false;
    function scrollDown() {
      if (!hasScrolled) {
        window.scrollBy({
          top: 300,
          left: 0,
          behavior: 'smooth'
        });
        hasScrolled = true;
      }
    }
    function openSection(sectionClassName, buttonClassName) {
      for (el of document.querySelectorAll('.js-section')) {
        el.classList.add('hidden');
      }
      document.querySelector(sectionClassName).classList.remove('hidden');

      const buttons = document.querySelectorAll('.js-main-button');
      for (const el of buttons) {
        el.style.backgroundColor = '';
      }
      if (buttonClassName) {
        document.querySelector(buttonClassName).style.backgroundColor = '#0095ff'
      }

      scrollDown();
    }
  </script>

  <div class="mb-4 flex flex-wrap items-center">
    <button class="mt-2 mr-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-main-button js-main-button-paypal" onclick="openSection('.js-paypal', '.js-main-button-paypal')">{{ gettext('page.donate.nav.paypal') }}</button>
    <button class="mt-2 mr-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-main-button js-main-button-cc" onclick="openSection('.js-cc', '.js-main-button-cc')">{{ gettext('page.donate.nav.cc') }}</button>
    <button class="mt-2 mr-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-main-button js-main-button-crypto" onclick="openSection('.js-crypto', '.js-main-button-crypto')">{{ gettext('page.donate.nav.crypto') }}</button>
    <button class="mt-2 mr-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-main-button js-main-button-alipay {% if get_locale().language == 'zh' %}order-first{% endif %}" onclick="openSection('.js-alipay', '.js-main-button-alipay')">{{ gettext('page.donate.nav.alipay') }}</button>
    <button class="mt-2 mr-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-main-button js-main-button-pix {% if get_locale().language == 'pt' %}order-first{% endif %}" onclick="openSection('.js-pix', '.js-main-button-pix')">{{ gettext('page.donate.nav.pix') }}</button>
    <a href="#" class="mt-2 pl-2" onclick="openSection('.js-q', undefined); return false">{{ gettext('page.donate.nav.faq') }}</a>
  </div>

  <div class="hidden js-section js-paypal">
    <h3 class="mt-4 mb-1 text-xl font-bold">{{ gettext('page.donate.paypal.header') }}</h3>

    <p class="mb-4">
      {{ gettext('page.donate.paypal.text', link_open_tag=('<a href="https://gotopaypay.top/Home/pay?method=paypal" class="font-bold" style="color: #0095ff" rel="noopener noreferrer nofollow" target="_blank">' | safe)) }}
    </p>

    <p class="mb-4">
      {{ gettext('page.donate.strange_account') }}
    </p>

    <p class="mb-4">
      {{ gettext('page.donate.text_thank_you') }}
    </p>
  </div>

  <div class="hidden js-section js-cc">
    <h3 class="mt-4 mb-1 text-xl font-bold">{{ gettext('page.donate.cc.header') }}</h3>

    <p class="mb-4">
      {{ gettext('page.donate.cc.text1') }}
    </p>

    <p class="mb-4">
      {{ gettext('page.donate.cc.text2') }}
    </p>

    <p class="font-bold">
      {{ gettext('page.donate.cc.steps.header') }}
    </p>

    <ol class="list-inside mb-4">
      <li>{{ gettext('page.donate.cc.steps.list1', address='15ruLg4LeREntByp7Xyzhf5hu2qGn8ta2o') }}</li>
      <li>{{ gettext('page.donate.cc.steps.list2', link_open_tag=('<a href="https://www.sendwyre.com/buy/btc/step-3" class="font-bold" style="color: #0095ff" rel="noopener noreferrer nofollow" target="_blank">' | safe)) }}</li>
      <li>{{ gettext('page.donate.cc.steps.list3') }}</li>
    </ol>

    <p class="mb-4">
      {{ gettext('page.donate.text_thank_you') }}
    </p>
  </div>

  <div class="hidden js-section js-crypto">
    <h3 class="mt-4 mb-1 text-xl font-bold">{{ gettext('page.donate.crypto.header') }}</h3>

    <p class="mb-4">
      {{ gettext('page.donate.crypto.intro') }}
    </p>

    <ul class="list-inside mb-4">
      <li>- Bitcoin BTC: <a style="word-break: break-all;" rel="payment" href="bitcoin:15ruLg4LeREntByp7Xyzhf5hu2qGn8ta2o">15ruLg4LeREntByp7Xyzhf5hu2qGn8ta2o</a> {{ gettext('page.donate.crypto.btc_bch_note') }}</li>
      <li>- Ethereum ETH: <a style="word-break: break-all;" rel="payment" href="ethereum:0x4a47880518eD21937e7d44251bd87054c1be022E">0x4a47880518eD21937e7d44251bd87054c1be022E</a></li>
      <li>- Monero XMR: <a style="word-break: break-all;" rel="payment" href="monero:445v3zW24nBbdJDAUeRG4aWmGBwqL3ctHE9DuV42d2K7KbaWeUjn13N3f9MNnfSKpFUCkiQ9RoJ1U66CG7HPhBSDQdSdi7t">445v3zW24nBbdJDAUeRG4aWmGBwqL3ctHE9DuV42d2K7KbaWeUjn13N3f9MNnfSKpFUCkiQ9RoJ1U66CG7HPhBSDQdSdi7t</a></li>
      <li>- Solana SOL: <a style="word-break: break-all;" rel="payment" href="solana:HDMUSnfFYiKNc9r2ktJ1rsmQhS8kJitKjRZtVGMVy1DP">HDMUSnfFYiKNc9r2ktJ1rsmQhS8kJitKjRZtVGMVy1DP</a></li>
    </ul>

    <p class="mb-4">
      {{ gettext('page.donate.text_thank_you') }}
    </p>
  </div>

  <div class="hidden js-section js-alipay">
    <h3 class="mt-4 mb-1 text-xl font-bold">{{ gettext('page.donate.alipay.header') }}</h3>

    <p class="mb-4">
      {{ gettext('page.donate.alipay.intro') }}
    </p>

    <p class="mb-4">
      {{ gettext('page.donate.strange_account') }}
    </p>

    <p class="mb-4">
      <button class="mt-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow mr-2" onclick="document.querySelector('.js-alipay-iframe').src += '&'">🔄</button>
      <a href="https://gotopaypay.top/Home/pay?method=alipay" class="font-bold" style="color: #0095ff" rel="noopener noreferrer nofollow" target="_blank">{{ gettext('page.donate.alipay.url') }}</a>
    </p>

    <div class="h-[500px] overflow-hidden">
      <iframe class="w-[350px] h-[600px] js-alipay-iframe" src="https://gotopaypay.top/Home/pay?method=alipay"></iframe>
    </div>

    <p class="mb-4 mt-4">
      {{ gettext('page.donate.text_thank_you') }}
    </p>

    <div class="hidden">
      <p class="mb-4">
        {{ gettext('page.donate.out_of_order') }}
      </p>
    </div>

    <div class="hidden">
      <p class="mb-4">
        {{ gettext('page.donate.alipay.intro') }}
      </p>

      <div class="mb-4">
        <button class="mt-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-alipay-button" onclick="setAlipayImage(0)">1</button>
        <button class="mt-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-alipay-button" onclick="setAlipayImage(1)">2</button>
        <button class="mt-2 bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow js-alipay-button" onclick="setAlipayImage(2)">3</button>
      </div>

      <div class="mb-4 relative">
        <img class="js-alipay-img absolute max-w-[350px]" src="/images/alipay0.jpg" loading="lazy" decoding="async">
        <img class="js-alipay-img absolute max-w-[350px]" src="/images/alipay1.jpg" loading="lazy" decoding="async">
        <img class="js-alipay-img max-w-[350px]" src="/images/alipay2.jpg" loading="lazy" decoding="async">
      </div>

      <script>
        function setAlipayImage(index) {
          const images = document.querySelectorAll('.js-alipay-img');
          for (const el of images) {
            el.style.visibility = 'hidden';
          }
          images[index].style.visibility = 'visible'

          const buttons = document.querySelectorAll('.js-alipay-button');
          for (const el of buttons) {
            el.style.backgroundColor = '';
          }
          buttons[index].style.backgroundColor = '#0095ff'
        }
        setAlipayImage(Math.floor(document.querySelectorAll('.js-alipay-button').length*Math.random()));
      </script>

      <p class="mb-4 mt-4">
        {{ gettext('page.donate.text_thank_you') }}
      </p>
    </div>
  </div>

  <div class="hidden js-section js-pix">
    <h3 class="mt-4 mb-1 text-xl font-bold">{{ gettext('page.donate.pix.header') }}</h3>

    <p class="mb-4">
      {{ gettext('page.donate.pix.text', link_open_tag=('<a href="https://gotopaypay.top/Home/pay?method=pix" class="font-bold" style="color: #0095ff" rel="noopener noreferrer nofollow" target="_blank">' | safe)) }}
    </p>

    <p class="mb-4 mt-4">
      {{ gettext('page.donate.text_thank_you') }}
    </p>

    <div class="hidden">
      <p class="mb-4">
        {{ gettext('page.donate.out_of_order') }}
      </p>
    </div>
  </div>

  <div class="hidden js-section js-q">
    <h3 class="mt-4 mb-1 text-xl font-bold">{{ gettext('page.donate.faq.header') }}</h3>

    <div class="mb-4">
      {{ gettext('page.donate.faq.text_other_payment1', email=('<a href="mailto:AnnaArchivist@proton.me">AnnaArchivist@&#8203;proton.&#8203;me</a>' | safe)) }}
    </div>

    <div class="mb-4">
      {{ gettext('page.donate.faq.text_other_payment2', address='15ruLg4LeREntByp7Xyzhf5hu2qGn8ta2o') }}
    </div>

    <div class="mb-4">
      {{ gettext('page.donate.faq.text_large_donation', email=('<a href="mailto:AnnaArchivist@proton.me">AnnaArchivist@&#8203;proton.&#8203;me</a>' | safe)) }}
    </div>

    <div class="mb-4">
      {{ gettext('page.donate.faq.text_other_contribs') }}
    </div>
  </div>

{% endblock %}
