{% extends "layouts/index.html" %}

{% block body %}
  <div class="bg-[#f2f2f2] p-2 rounded-lg">
    <div style="position: relative; height: 16px; margin-top: 16px;">
      <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: white; overflow: hidden; border-radius: 16px; box-shadow: 0px 2px 4px 0px #00000038">
        <div style="position: absolute; left: 0; top: 0; bottom: 0; width: 5%; background: #0095ff"></div>
      </div>
      <div style="position: absolute; left: 5%; top: 50%; width: 16px; height: 16px; transform: translate(-50%, -50%)">
        <div style="position: absolute; left: 0; top: 0; width: 16px; height: 16px; background: #0095ff66; border-radius: 100%; animation: header-ping 1.5s cubic-bezier(0,0,.2,1) infinite"></div>
        <div style="position: absolute; left: 0; top: 0; width: 16px; height: 16px; background: white; border-radius: 100%; box-shadow: 0 0 3px #00000069;"></div>
      </div>
    </div>

    <div style="position: relative; padding-bottom: 20px">
      <div style="width: 14px; height: 14px; border-left: 1px solid gray; border-bottom: 1px solid gray; position: absolute; top: 5px; left: calc(5% - 1px)"></div>
      <div style="position: relative; left: calc(5% + 20px); width: calc(90% - 20px); top: 8px; font-size: 90%; color: #555">{{ gettext('page.home.progress_bar.text', info_icon=('<a href="/about" style="text-decoration: none !important;">ⓘ</a>' | safe)) }}</div>
    </div>
  </div>

  <p class="mt-4 mb-8">
    {{ gettext('page.home.intro') }}
  </p>

  <p><strong>{{ gettext('page.home.search.header') }}</strong></p>

  <p class="mb-4">
    {{ gettext('page.home.search.intro') }}
  </p>

  <form action="/search" method="get" role="search">
    <div class="flex mb-8">
      <input type="text" name="q" placeholder="{{ gettext('common.search.placeholder') }}" value="{{search_input}}" class="grow max-w-[400] bg-[#00000011] px-2 py-1 mr-2 rounded">
      <button class="text-[#777] hover:text-[#333]" type="submit">{{ gettext('common.search.submit') }}</button>
    </div>
  </form>

  <p><strong>{{ gettext('page.home.explore.header') }}</strong></p>

  <p class="mb-4">
    {{ gettext('page.home.explore.intro') }}
  </p>

  {% for md5_dict in md5_dicts %}
    <a href="/search?q={{md5_dict.file_unified_data.title_best | urlencode}}" class="custom-a flex items-center relative left-[-10] px-[10] py-2 hover:bg-[#00000011]">
      <div class="flex-none">
        <div class="relative overflow-hidden w-[72] h-[108] flex flex-col justify-center">
          <div class="absolute w-[100%] h-[90]" style="background-color: hsl({{ (loop.index0 % 4) * (256//3) + (range(0, 256//3) | random) }}deg 43% 73%)"></div>
          <img class="relative inline-block" src="{{md5_dict.file_unified_data.cover_url_best if 'zlibcdn2' not in md5_dict.file_unified_data.cover_url_best}}" alt="" referrerpolicy="no-referrer" onerror="this.parentNode.removeChild(this)" loading="lazy" decoding="async"/>
        </div>
      </div>
      <div class="relative top-[-1] pl-4 grow overflow-hidden">
        <h3 class="text-xl font-bold">{{md5_dict.file_unified_data.title_best}}</h3>
        <div class="text-lg italic">{{md5_dict.file_unified_data.author_best}}</div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
