{% extends "layouts/index.html" %}

{% block title %}{{ gettext('page.isbn.title', isbn_input=isbn_input) }}{% endblock %}

{% block body %}
  <div class="mb-4">{{ gettext('page.isbn.breadcrumbs', isbn_input=isbn_input) }}</div>

  {% if not(isbn_dict is defined) %}
    <h2 class="mt-12 mb-1 text-3xl font-bold">{{ gettext('page.isbn.invalid.header') }}</h2>
    <p class="mb-4 italic">
      {{ gettext('page.isbn.invalid.text', isbn_input=isbn_input) }}
    </p>
  {% else %}
    {% if isbn_dict.top_box or (isbn_dict.search_md5_dicts | length > 0) %}
      <div class="mb-4 p-6 overflow-hidden bg-[#0000000d] break-words">
        {% if isbn_dict.top_box %}
          <div class="overflow-hidden mb-4">
            <img class="float-right max-w-[25%] ml-4" src="{{isbn_dict.top_box.cover_url}}" alt="" referrerpolicy="no-referrer" onerror="this.parentNode.removeChild(this)" loading="lazy" decoding="async"/>
            <div class="text-xs text-gray-500">{{isbn_dict.top_box.top_row}}</div>
            <div class="text-xl font-bold">{{isbn_dict.top_box.title}}</div>
            <div class="text-sm">{{isbn_dict.top_box.publisher_and_edition}}</div>
            <div class="italic">{{isbn_dict.top_box.author}}</div>
            <div class="mt-4 line-clamp-[6]">{% if isbn_dict.top_box.description %}“{{isbn_dict.top_box.description | escape | replace('\n', '<br>' | safe)}}”{% endif %}</div>
          </div>
        {% endif %}

        {% if isbn_dict.search_md5_dicts | length > 0 %}
          <p class="mb-2">
            {{ gettext('page.isbn.results.text') }}
          </p>

          <div class="">
            {% for search_md5_dict in (isbn_dict.search_md5_dicts) %}
              <a href="/md5/{{search_md5_dict.md5}}" class="custom-a flex items-center relative left-[-10] px-[10] py-2 hover:bg-[#00000011]">
                <div class="flex-none">
                  <div class="relative overflow-hidden w-[72] h-[108] flex flex-col justify-center">
                    <div class="absolute w-[100%] h-[90]" style="background-color: hsl({{ (loop.index0 % 4) * (256//3) + (range(0, 256//3) | random) }}deg 43% 73%)"></div>
                    <img class="relative inline-block" src="{{search_md5_dict.file_unified_data.cover_url_best if 'zlibcdn2' not in search_md5_dict.file_unified_data.cover_url_best}}" alt="" referrerpolicy="no-referrer" onerror="this.parentNode.removeChild(this)" loading="lazy" decoding="async"/>
                  </div>
                </div>
                <div class="relative top-[-1] pl-4 grow overflow-hidden">
                  <div class="truncate text-xs text-gray-500">{{search_md5_dict.additional.most_likely_language_name + ", " if search_md5_dict.additional.most_likely_language_name | length > 0}}{{search_md5_dict.file_unified_data.extension_best}}, {% if search_md5_dict.file_unified_data.filesize_best | default(0, true) < 1000000 %}&lt;1MB{% else %}{{search_md5_dict.file_unified_data.filesize_best | default(0, true) | filesizeformat | replace(' ', '')}}{% endif %}{{', "' + search_md5_dict.file_unified_data.original_filename_best_name_only + '"' if search_md5_dict.file_unified_data.original_filename_best_name_only}}</div>
                  <h3 class="truncate text-xl font-bold">{{search_md5_dict.file_unified_data.title_best}}</h3>
                  <div class="truncate text-sm">{{search_md5_dict.file_unified_data.publisher_best}}{% if search_md5_dict.file_unified_data.publisher_best and search_md5_dict.file_unified_data.edition_varia_best %},  {% endif %}{{search_md5_dict.file_unified_data.edition_varia_best}}</div>
                  <div class="truncate italic">{{search_md5_dict.file_unified_data.author_best}}</div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p>
            {{ gettext('page.isbn.results.none') }}
          </p>
        {% endif %}
      </div>
    {% endif %}

    <button class="custom bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow mb-4 mt-8" onclick="document.querySelector('.js-technical-details').classList.remove('hidden'); this.classList.add('hidden')">{{ gettext('common.tech_details') }}</button>

    <div class="js-technical-details hidden">
      {% if gettext('common.english_only') | trim %}
        <p class="mb-4 font-bold">{{ gettext('common.english_only') }}</p>
      {% endif %}

      <div lang="en">
        <h2 class="mt-12 mb-1 text-3xl font-bold">ISBN</h2>

        <p class="mb-4">
          International Standard Book Number (ISBN) numbers have been assigned to books since the 1970s. However, there is no central database, so our ISBN collection is compiled from different sources. ISBN ranges are assigned to language groups and countries, which then assign ranges to publishers, which then assign individual numbers to their books.
        </p>

        <p class="mb-4">
          An ISBN-13 number usually looks like this: 978-AAA-BBB-CCCC-X. The last number (X) is a check digit and can be derived from the other numbers. AAA is the "registration group" (language/country), BBB is the "registrant" (publisher) and CCCC is the "publication" (actual book). The dashes may be in different places depending on the length of ranges allocated to each language/country and publisher.
        </p>

        <p class="mb-4">
          There is an older form, ISBN-10, which can be converted to ISBN-13 by adding the "978" prefix and recomputing X. "978" and "979" are the only prefixes, and they are part of the Global Trade Item Number (GTIN) standard.
        </p>

        <p class="mb-4">
          Since there is no central ISBN database, this page compiles information from various sources.
        </p>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Computed information</h2>

        <p class="mb-4">
          Some information can purely be computed, based on the way ISBNs work.
        </p>

        <div class="mb-4">
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Canonical ISBN-13 / EAN</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">ISBN {{isbn_dict.ean13}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Legacy ISBN-10</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">ISBN {{isbn_dict.isbn10 | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">DOI / ISBN-A</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbn_dict.doi}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/doi/{{isbn_dict.doi}}" class="anna">anna</a> <a href="https://doi.org/{{isbn_dict.doi}}">url</a> <a href="https://www.doi.org/factsheets/ISBN-A.html">info</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Barcode</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8] ml-[-24] mb-[-24]">{{isbn_dict.barcode_svg | safe}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">URN</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">urn:isbn:{{isbn_dict.ean13}}{% if isbn_dict.isbn10 %} / urn:isbn:{{isbn_dict.isbn10}}{% endif %}</div>
            <div></div>
          </div>
        </div>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Official ISBN Ranges</h2>

        <p class="mb-4">
          The International ISBN Agency regularly releases the ranges that it has allocated to national ISBN agencies. From this we can derive what country, region, or language group this ISBN belongs. We can also infer the correct placement of the dashes for this ISBN number.
        </p>

        <div class="mb-4">
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Dataset</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">International ISBN Agency Ranges XML</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/datasets#isbn-xml-2022-02-11" class="anna">anna</a> <a href="https://www.isbn-international.org/range_file_generation">url</a> <a href="https://www.isbn-international.org/export_rangemessage.xml">xml</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Country / region / language group</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbn_dict.info}} ({{isbn_dict.mask_split[0:2] | join('-')}})</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISBN-13 dashes</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">ISBN {{isbn_dict.mask}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISBN-13 spaces</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">ISBN {{isbn_dict.mask | replace('-', ' ')}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISBN-10 dashes</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if isbn_dict.mask10 %}ISBN {{isbn_dict.mask10}}{% endif %}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISBN-10 spaces</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if isbn_dict.mask10 %}ISBN {{isbn_dict.mask10 | replace('-', ' ')}}{% endif %}</div>
            <div></div>
          </div>
          <!-- TODO: show some alternatives for this ISBN, like with different prefix per
            https://github.com/inventaire/isbn3/blob/d792973ac0e13a48466d199b39326c96026b7fc3/lib/audit.js
            or with dashes in different places if people messed that up!
           -->
        </div>

        <h2 class="mt-12 mb-1 text-3xl font-bold">ISBNdb</h2>

        <p class="mb-4">
          ISBNdb is a company that scrapes various online bookstores to find ISBN metadata. The data in this section is from the Pirate Library Mirror ISBNdb Collection, which is a project by the same people who made Anna’s Archive, where we scraped all of ISBNdb's metadata.
        </p>

        {% if isbn_dict.isbndb | length == 0 %}
          <p class="mb-4 italic">
            No entries in ISBNdb were found.
          </p>
        {% endif %}
        {% for isbndb in isbn_dict.isbndb %}
          <p class="mb-4 italic">
            Matching book for {{isbndb.matchtype}}:
          </p>

          <div class="mb-4">
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Dataset</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">Pirate Library Mirror ISBNdb Collection</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/datasets#isbndb-2022-09" class="anna">anna</a> <a href="http://pilimi.org/isbndb.html">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Source URL</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">https://isbndb.com/book/{{isbndb.source_isbn}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://isbndb.com/book/{{isbndb.source_isbn}}">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Title</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.title | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Title long</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.title_long | default('-', true)}}</div>
              <div></div>
            </div>
            {% if isbndb.json.authors | length == 0 %}
              <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
                <div class="flex-none w-[150] px-2 py-1">Authors</div>
                <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
                <div></div>
              </div>
            {% endif %}
            {% for author in isbndb.json.authors %}
              <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
                <div class="flex-none w-[150] px-2 py-1">{{ 'Authors' if loop.index0 == 0 else ' ' }}&nbsp;</div>
                <div class="px-2 py-1 grow break-words line-clamp-[8]">{{author}}</div>
                <div></div>
              </div>
            {% endfor %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Edition</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.edition | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Synopsis</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.synopsis | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Overview</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.overview | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Publisher</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.publisher | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Date published</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.date_published | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Language</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.language | default('-', true)}}{% if (isbndb.language_codes | length) > 0 %} ({{isbndb.language_codes | join(', ')}}){% endif %}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right">{% if (isbndb.language_codes | length) > 0 %}<a href="https://r12a.github.io/app-subtags/index?check={{isbndb.language_codes[0]}}">url</a>{% endif %}</div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Pages</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.pages | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Binding</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.binding | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Dimensions</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.dimensions | default('-', true)}}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Dewey Decimal</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbndb.json.dewey_decimal | default('-', true)}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right">{% if isbndb.json.dewey_decimal %}<a href="https://libgen.li/biblioservice.php?value={{isbndb.json.dewey_decimal}}&type=ddc">url</a> <a href="https://en.wikipedia.org/wiki/List_of_Dewey_Decimal_classes">info</a>{% endif %}</div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Manufacturer suggested retail price (MSRP)</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if isbndb.json.msrp and isbndb.json.msrp != '0.00' %}${{isbndb.json.msrp}}{% else %}-{% endif %}</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Cover URL</div>
              <div class="px-2 py-1 grow truncate">{{isbndb.json.image | default('-', true)}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right">{% if isbndb.json.image %}<a href="{{isbndb.json.image}}" rel="noopener noreferrer">url</a> <a href="https://www.google.com/searchbyimage?image_url={{isbndb.json.image}}">goog</a>{% endif %}</div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Related</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if isbndb.json.related %}{{isbndb.json.related | tojson}}{% else %}-{% endif %}</div>
              <div></div>
            </div>
            {% if isbndb.json.subjects | length == 0 %}
              <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
                <div class="flex-none w-[150] px-2 py-1">Subjects</div>
                <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
                <div></div>
              </div>
            {% endif %}
            {% for subject in isbndb.json.subjects %}
              <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
                <div class="flex-none w-[150] px-2 py-1">{{ 'Subjects' if loop.index0 == 0 else ' ' }}&nbsp;</div>
                <div class="px-2 py-1 grow break-words line-clamp-[8]">{{subject}}</div>
                <div></div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        <h2 class="mt-12 mb-1 text-3xl font-bold">Shadow library files</h2>

        <p class="mb-2">
          There are <strong>{{isbn_dict.search_md5_dicts | length}}</strong> files found for which the metadata in one of the shadow libraries link to this ISBN. They are displayed at the top of this page.
        </p>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Raw JSON</h2>

        <p class="mb-4">
          This is the raw JSON used to render this page.
        </p>

        <div class="text-xs p-4 font-mono break-words bg-[#0000000d]">{{ isbn_dict_json | escape | replace('\n', '<br>' | safe) | replace('  ', '&nbsp;&nbsp;' | safe) }}</div>
      </div>
    </div>
  {% endif %}
{% endblock %}
