{% extends "layouts/index.html" %}

{% block title %}{% if lgli_file_dict and lgli_file_top.title %}{{ lgli_file_top.title }} - {% endif %}Libgen ".li" #{{lgli_file_id}}{% endblock %}



{% block body %}
  <div class="mb-4">Datasets ▶ Libgen.li ▶ Book ID #{{lgli_file_id}}</div>

  {% if gettext('common.english_only') | trim %}
    <p class="mb-4 font-bold">{{ gettext('common.english_only') }}</p>
  {% endif %}

  <div lang="en">
    {% if not(lgli_file_dict is defined) %}
      <h2 class="mt-12 mb-1 text-3xl font-bold">Not found</h2>
      <p class="mb-4">
        This file ID was not found in the Libgen.li dataset.
      </p>
    {% else %}
      <h2 class="mt-12 mb-1 text-3xl font-bold">File metadata</h2>

      <p class="mb-4">
        This is a book in Libgen.li, a shadow library that hosts a large collection of content, freely available to download, and easily mirrored by using its torrents (for some of its collections). There are multiple independently run instances of Library Genesis that have slightly different collections, and this is the "libgen.li" variant.
      </p>

      <p class="mb-4">
        We're looking at a particular file. This can be a book (fiction or non-fiction), scientific article, comic book, magazine, or standards document. Some of these can be easily mirrored through torrents, though not all. The database record contains basic information on the file itself, but does not contain bibliographic records like title, author, and so on. Those can be found in the "edition" (further below).
      </p>

      <div class="mb-4">
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Dataset</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">Libgen.li Data Dump</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/datasets#lgli" class="anna">anna</a> <a href="https://libgen.li/dirlist.php?dir=dbdumps">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Libgen.li File ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.f_id}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source URL</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.li/file.php?id={{lgli_file_dict.f_id}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.li/file.php?id={{lgli_file_dict.f_id}}">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">MD5</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.md5 | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/md5/{{lgli_file_dict.md5 | lower}}" class="anna">anna</a> <a href="http://libgen.li/ads.php?md5={{lgli_file_dict.md5 | lower}}">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">IPFS CID</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.ipfscid_first | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.ipfscid_first %}<a href="ipfs://{{lgli_file_dict.descriptions_mapped.ipfscid_first | lower}}">url</a> <a href="https://cloudflare-ipfs.com/ipfs/{{lgli_file_dict.descriptions_mapped.ipfscid_first | lower}}" rel="noopener noreferrer nofollow" target="_blank">cf</a> <a href="https://ipfs.io/ipfs/{{lgli_file_dict.descriptions_mapped.ipfscid_first | lower}}" rel="noopener noreferrer nofollow" target="_blank">io</a> <a href="https://gateway.pinata.cloud/ipfs/{{lgli_file_dict.descriptions_mapped.ipfscid_first | lower}}" rel="noopener noreferrer nofollow" target="_blank">pin</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Added</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.time_added | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Last modified</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.time_last_modified | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Original file creation</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.file_create_date | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Pages</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.pages | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Filesize</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.filesize | filesizeformat}} / {{lgli_file_dict.filesize}} B</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Extension</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.extension | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Original filename</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.locator | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">File version</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.version_first | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">DPI</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.dpi | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Color</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.color in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Cleaned</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.cleaned in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Orientation</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.orientation | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Paginated</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.paginated in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scanned</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.scanned in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Bookmarked</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.bookmarked in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Searchable (OCR)</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.ocr in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Comments</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.commentary | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Best version</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.generic | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.generic %}<a href="http://libgen.lc/ads.php?md5={{lgli_file_dict.generic | lower}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Visible in Libgen</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if lgli_file_dict.visible %}❌ ({{lgli_file_dict.visible}}){% else %}✅{% endif %}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Editable on Libgen</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.editable in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Deemed "broken"</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"❌ Broken" if lgli_file_dict.broken in [1, "1", "y", "Y"] else "✅ Not broken"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scan type</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scan_type | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scan content</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scan_content | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scan quality</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scan_quality | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scan size</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scan_size | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scan contains ads ("C2C")</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.c2c in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Release author</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.releaser | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Cover URL (our guess)</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.cover_url_guess | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.cover_url_guess %}<a href="{{lgli_file_dict.cover_url_guess}}" rel="noopener noreferrer">url</a> <a href="https://www.google.com/searchbyimage?image_url={{lgli_file_dict.cover_url_guess}}">goog</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Cover info</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.cover_info | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Number of files in archive</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.archive_files_count | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Number of pictures in archive</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.archive_files_pic_count | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Archive contains non-picture files</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.archive_dop_files_flag in [1, "1", "y", "Y"] else "❌"}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Archive content</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.archivecontent_first | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">FB2 file info</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.fb2info_first | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Libgen topic</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">"{{lgli_file_dict.libgen_topic | default('-', true)}}" - {{lgli_topic_mapping[lgli_file_dict.libgen_topic]}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.l}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.libgen_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.f}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.fiction_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.r}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.fiction_rus_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.c}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.comics_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.a}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scimag_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.s}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.standarts_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.m}} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.magz_id | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">{{lgli_topic_mapping.a}} path in archive</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scimag_archive_path | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Scimag source URL (our guess)</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.scimag_url_guess | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.scimag_url_guess %}<a href="{{lgli_file_dict.scimag_url_guess}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source library</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.library_first | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source library identifier</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.library_issue_first | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source library filename</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.library_filename_first | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Librusec book ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.librusecbookid_multiple | default([], true) | join(', ') | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.librusecbookid_first %}<a href="https://lib.rus.ec/b/{{lgli_file_dict.descriptions_mapped.librusecbookid_first}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Flibusta book ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.flibustabookid_multiple | default([], true) | join(', ') | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.flibustabookid_first %}<a href="https://flibusta.is/b/{{lgli_file_dict.descriptions_mapped.flibustabookid_first}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Coollib book ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.coollibbookid_multiple | default([], true) | join(', ') | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.coollibbookid_first %}<a href="https://coollib.ru/b/{{lgli_file_dict.descriptions_mapped.coollibbookid_first}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Maxima book ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.maximabookid_multiple | default([], true) | join(', ') | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.maximabookid_first %}<a href="http://maxima-library.org/mob/b/{{lgli_file_dict.descriptions_mapped.maximabookid_first}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Traum book ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.traumbookid_multiple | default([], true) | join(', ') | default('-', true)}} {% if lgli_file_dict.descriptions_mapped.traumbookid_path_first %}({{lgli_file_dict.descriptions_mapped.traumbookid_path_first}}){% endif %}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Litmir book ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.descriptions_mapped.litmirbookid_multiple | default([], true) | join(', ') | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.litmirbookid_first %}<a href="https://www.litmir.me/bd/?b={{lgli_file_dict.descriptions_mapped.litmirbookid_first}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">CRC32</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.crc32_first | default('-', true) | upper}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">eD2k hash</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.edonkey_first | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.edonkey_first and lgli_file_dict.descriptions_mapped.aich_first and lgli_file_dict.md5 and lgli_file_dict.extension and lgli_file_dict.filesize %}<a href="ed2k://|file|{{lgli_file_dict.md5}}.{{lgli_file_dict.extension}}|{{lgli_file_dict.filesize}}|{{lgli_file_dict.descriptions_mapped.edonkey_first}}|h={{lgli_file_dict.descriptions_mapped.aich_first}}|/">ed2k</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">eDonkey AICH</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.aich_first | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.edonkey_first and lgli_file_dict.descriptions_mapped.aich_first and lgli_file_dict.md5 and lgli_file_dict.extension and lgli_file_dict.filesize %}<a href="ed2k://|file|{{lgli_file_dict.md5}}.{{lgli_file_dict.extension}}|{{lgli_file_dict.filesize}}|{{lgli_file_dict.descriptions_mapped.edonkey_first}}|h={{lgli_file_dict.descriptions_mapped.aich_first}}|/">ed2k</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">SHA1</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.sha1_first | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.sha1_first and lgli_file_dict.md5 and lgli_file_dict.extension and lgli_file_dict.filesize %}<a href="magnet:?xt=urn:sha1:{{lgli_file_dict.descriptions_mapped.sha1_first}}&xl={{lgli_file_dict.filesize}}&dn={{lgli_file_dict.md5}}.{{lgli_file_dict.extension}}">gnutella</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">SHA256</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.sha256_first | default('-', true) | lower}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">TTH</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.tth_first | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.descriptions_mapped.tth_first and lgli_file_dict.md5 and lgli_file_dict.extension and lgli_file_dict.filesize %}<a href="magnet:?xt=urn:tree:tiger:{{lgli_file_dict.descriptions_mapped.tth_first}}&xl={{lgli_file_dict.filesize}}&dn={{lgli_file_dict.md5}}.{{lgli_file_dict.extension}}">dc++</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">BTIH</div>
          <div class="px-2 py-1 grow truncate">{{lgli_file_dict.descriptions_mapped.btih_first | default('-', true)}}</div>
          <div></div>
        </div>
      </div>

      <h2 class="mt-12 mb-1 text-3xl font-bold">Editions</h2>

      <p class="mb-4">
        An "edition" in this collection is somewhat of a catch-all concept. Sometimes it corresponds to a particular physical version of a book (similar to ISBN records, or "editions" in Open Library), but it may also represent a chapter in a periodical (more specific than a single book), or a collection of multiple books (more general than a single book). However, in practice, in most cases files only have a single edition. Below we show the first associated "edition", with a full list further down.
      </p>

      <p class="mb-4">
        Note that while usually there is only one "edition" associated with a file, it is common to have multiple files associated with an edition. For example, different people might have scanned a book.
      </p>

      {% if (lgli_file_dict.editions | length) == 0 %}
        <p class="mb-4 italic">
          No editions were associated with this file.
        </p>
      {% else %}
        <div class="mb-4">
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">First Libgen.li Edition ID</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].e_id}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Source URL</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.li/edition.php?id={{lgli_file_dict.editions[0].e_id}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.li/edition.php?id={{lgli_file_dict.editions[0].e_id}}">url</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Added</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].time_added | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Last modified</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].time_last_modified | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Other date fields</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].date_info_fields_json | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen type</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">"{{lgli_file_dict.editions[0].type | default('-', true)}}" - {{lgli_edition_type_mapping[lgli_file_dict.editions[0].type]}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Title</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].title | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Title suffix</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].title_add | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Title in original language</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.maintitleonoriginallanguage_first | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Title translated to English</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.maintitleonenglishtranslate_first | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Author</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].authors_normalized | default('-', true)}}{% if lgli_file_dict.editions[0].descriptions_mapped.authorid_first %} (#{{lgli_file_dict.editions[0].descriptions_mapped.authorid_multiple | join(',')}}){% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% for authorid in lgli_file_dict.editions[0].descriptions_mapped.authorid_multiple | default([], true) %} <a href="https://libgen.li/author.php?id={{authorid}}">url</a>{% endfor %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Edition</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].edition | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Series</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{((lgli_file_dict.editions[0].series_name | default('', true)) + ' ' + (lgli_file_dict.editions[0].descriptions_mapped.series_first | default('', true))).strip() | default('-', true)}}{% if lgli_file_dict.editions[0].descriptions_mapped.seriesid_first %} (#{{lgli_file_dict.editions[0].descriptions_mapped.seriesid_multiple | join(',')}}){% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% for seriesid in lgli_file_dict.editions[0].descriptions_mapped.seriesid_multiple | default([], true) %} <a href="https://libgen.li/series.php?id={{seriesid}}">url</a>{% endfor %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Issue Series ID</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].issue_s_id | default('-', true)}}{% if lgli_file_dict.editions[0].issue_series_title_normalized %} ({{lgli_file_dict.editions[0].issue_series_title_normalized}}){% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.editions[0].issue_s_id %}<a href="https://libgen.li/series.php?id={{lgli_file_dict.editions[0].issue_s_id}}">url</a>{% endif %}{% if lgli_file_dict.editions[0].issue_series_issn %} <a href="https://urn.issn.org/urn:issn:{{lgli_file_dict.editions[0].issue_series_issn}}">issn</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Issue other fields</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].issue_other_fields_json | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Normalized edition/series/issue info</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].edition_varia_normalized | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Container title</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.containertitle_multiple | join(', ') | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Description</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.description_multiple | default([], true) | join('\n\n') | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Date</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].date_normalized | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Publisher</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].publisher_normalized | default('-', true)}}{% if lgli_file_dict.editions[0].descriptions_mapped.publisherid_first %} (#{{lgli_file_dict.editions[0].descriptions_mapped.publisherid_multiple | join(',')}}){% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% for publisherid in lgli_file_dict.editions[0].descriptions_mapped.publisherid_multiple | default([], true) %} <a href="https://libgen.li/publisher.php?id={{publisherid}}">url</a>{% endfor %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">City</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].city | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Pages</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].pages | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Language</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.language_multiple | join(', ') | default('-', true)}}{% if (lgli_file_dict.editions[0].language_codes | length) > 0 %} ({{lgli_file_dict.editions[0].language_codes | join(', ')}}){% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if (lgli_file_dict.editions[0].language_codes | length) > 0 %}<a href="https://r12a.github.io/app-subtags/index?check={{lgli_file_dict.editions[0].language_codes[0]}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Language of original</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.languageoriginal_multiple | join(', ') | default('-', true)}}{% if (lgli_file_dict.editions[0].languageoriginal_codes | length) > 0 %} ({{lgli_file_dict.editions[0].languageoriginal_codes | join(', ')}}){% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if (lgli_file_dict.editions[0].languageoriginal_codes | length) > 0 %}<a href="https://r12a.github.io/app-subtags/index?check={{lgli_file_dict.editions[0].languageoriginal_codes[0]}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Parent document</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.parentdocument_multiple | join(', ') | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Topic ID</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.topicbooks_multiple | join(', ') | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% for topicid in lgli_file_dict.editions[0].descriptions_mapped.topicbooks_multiple | default([], true) %} <a href="https://libgen.li/index.php?req=booktopicid:{{topicid}}&gmode=on&curtab=e">url</a>{% endfor %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Replaced in/by</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{((lgli_file_dict.editions[0].descriptions_mapped.replacedinpart_multiple | default([], true)) + (lgli_file_dict.editions[0].descriptions_mapped.replacedto_multiple | default([], true))) | join(', ') | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">"Standard document" fields</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].standard_info_fields_json | default('-', true)}}</div>
            <div></div>
          </div>
          {% if lgli_file_dict.editions[0].isbns_rich | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">ISBNs</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for isbn in lgli_file_dict.editions[0].isbns_rich %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'ISBNs' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbn[0]}} {{ " / " + isbn[1] if isbn[1] }}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/isbn/{{isbn[0]}}" class="anna">anna</a> <a href="https://en.wikipedia.org/wiki/Special:BookSources/{{isbn[0]}}">wiki</a> <a href="https://google.com/search?q=%22{{isbn[0]}}%22+OR+%22{{isbn[1]}}%22+OR+%22{{isbn[2]}}%22+OR+%22{{isbn[3]}}%22">goog</a></div>
            </div>
          {% endfor %}
          {% if lgli_file_dict.editions[0].identifiers_normalized | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Identifiers</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for identifier_type, item in lgli_file_dict.editions[0].identifiers_normalized %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'Identifiers' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              {% if lgli_identifiers[identifier_type] %}
                <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_identifiers[identifier_type].label}}: {{item}}{% if lgli_identifiers[identifier_type].description %} ({{lgli_identifiers[identifier_type].description}}){% endif %}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right">{% if identifier_type == 'doi' %}<a href="/doi/{{item}}" class="anna">anna</a>{% endif %} {% if identifier_type == 'openlibrary_multiple' %}<a href="/ol/{{item}}" class="anna">anna</a>{% endif %} {% if lgli_identifiers[identifier_type].url %}<a href="{{lgli_identifiers[identifier_type].url | replace('%s', item | urlencode)}}">url</a>{% elif lgli_identifiers[identifier_type].website %}<a href="{{lgli_identifiers[identifier_type].website}}">info</a>{% endif %}</div>
              {% else %}
                <div class="px-2 py-1 grow break-words line-clamp-[8]">{{identifier_type}}: {{item}}</div>
                <div></div>
              {% endif %}
            </div>
          {% endfor %}
          {% if lgli_file_dict.editions[0].classifications_normalized | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Classifications</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for classification_type, item in lgli_file_dict.editions[0].classifications_normalized %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'Classifications' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              {% if lgli_classifications[classification_type] %}
                <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_classifications[classification_type].label}}: {{item}}</div>
                <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_classifications[classification_type].url %} <a href="{{lgli_classifications[classification_type].url | replace('%s', item | urlencode)}}">url</a>{% endif %}{% if lgli_classifications[classification_type].website %} <a href="{{lgli_classifications[classification_type].website}}">info</a>{% endif %}</div>
              {% else %}
                <div class="px-2 py-1 grow break-words line-clamp-[8]">{{classification_type}}: {{item}}</div>
                <div></div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Additional info</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].editions_add_info | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Comments</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].commentary | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Notes</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.notes_multiple | join(', ') | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Visible in Libgen</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if lgli_file_dict.editions[0].visible %}❌ ({{lgli_file_dict.editions[0].visible}}){% else %}✅{% endif %}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Editable on Libgen</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgli_file_dict.editions[0].editable in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Original cover URL</div>
            <div class="px-2 py-1 grow truncate">{{lgli_file_dict.editions[0].cover_url | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.editions[0].cover_url %}<a href="{{lgli_file_dict.editions[0].cover_url}}" rel="noopener noreferrer">url</a> <a href="https://www.google.com/searchbyimage?image_url={{lgli_file_dict.editions[0].cover_url}}">goog</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Cover URL (our guess)</div>
            <div class="px-2 py-1 grow truncate">{{lgli_file_dict.editions[0].cover_url_guess | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgli_file_dict.editions[0].cover_url_guess %}<a href="{{lgli_file_dict.editions[0].cover_url_guess}}" rel="noopener noreferrer">url</a> <a href="https://www.google.com/searchbyimage?image_url={{lgli_file_dict.editions[0].cover_url_guess}}">goog</a>{% endif %}</div>
          </div>
          {% if ((lgli_file_dict.editions[0].descriptions_mapped.site_multiple | default([], true)) + (lgli_file_dict.editions[0].descriptions_mapped.otherlinks_multiple | default([], true))) | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Links</div>
              <div class="px-2 py-1 grow truncate">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for link in ((lgli_file_dict.editions[0].descriptions_mapped.site_multiple | default([], true)) + (lgli_file_dict.editions[0].descriptions_mapped.otherlinks_multiple | default([], true))) %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'Links' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow truncate">{{link}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="{{link}}">url</a></div>
            </div>
          {% endfor %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Tags</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.tags_multiple | join(', ') | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Table of Contents</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgli_file_dict.editions[0].descriptions_mapped.tableofcontents_multiple | join(', ') | default('-', true)}}</div>
            <div></div>
          </div>
        </div>

        <p class="mb-4">
          Below are all editions associated with this file.
        </p>

        <div class="mb-4">
          {% for edition in lgli_file_dict.editions %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">#{{edition.e_id}}</div>
            <div class="grow py-1 w-0">
              <div class="flex">
                <div class="px-2 grow break-words line-clamp-[8]">{{edition.title | default('-', true)}}{% if edition.issue_series_title_normalized %}, {{edition.issue_series_title_normalized}}{% endif %}</div>
                <div class="pr-2 whitespace-nowrap text-right"><a href="https://libgen.li/edition.php?id={{edition.e_id}}">url</a></div>
              </div>
              {% if edition.authors_normalized %}
                <div class="px-2 text-sm">{{edition.authors_normalized}}</div>
              {% endif %}
            </div>
            <div></div>
          </div>
          {% endfor %}
        </div>
      {% endif %}

      <h2 class="mt-12 mb-1 text-3xl font-bold">Raw JSON</h2>

      <p class="mb-4">
        Below is a JSON dump of the record for this book, straight out of the database. If you want all records, please check out the dataset at the top of this page.
      </p>

      <div class="text-xs p-4 font-mono break-words bg-[#0000000d]">{{ lgli_file_dict_json | escape | replace('\n', '<br>' | safe) | replace('  ', '&nbsp;&nbsp;' | safe) }}</div>
    {% endif %}
  </div>
{% endblock %}
