{% extends "layouts/index.html" %}

{% block title %}{% if lgrs_book_dict and lgrs_book_dict.title %}{{lgrs_book_dict.title}} - {% endif %}Libgen ".rs" {{ "Non-Fiction" if lgrs_type == "nf" else "Fiction" }} #{{lgrs_book_id}}{% endblock %}


{% macro md5_url() -%}{{ 'https://libgen.rs/book/index.php?md5=' if lgrs_type == 'nf' else 'https://libgen.rs/fiction/' }}{%- endmacro %}


{% block body %}
  <div class="mb-4">Datasets ▶ Libgen.rs {{ "Non-Fiction" if lgrs_type == "nf" else "Fiction" }} ▶ Book ID #{{lgrs_book_id}}</div>

  {% if gettext('common.english_only') | trim %}
    <p class="mb-4 font-bold">{{ gettext('common.english_only') }}</p>
  {% endif %}

  <div lang="en">
    {% if not(lgrs_book_dict is defined) %}
      <h2 class="mt-12 mb-1 text-3xl font-bold">Not found</h2>
      <p class="mb-4">
        This ID was not found in the Libgen.rs {{ "Non-Fiction" if lgrs_type == "nf" else "Fiction" }} dataset.
      </p>
    {% else %}
      <h2 class="mt-12 mb-1 text-3xl font-bold">Book metadata</h2>

      <p class="mb-4">
        This is a book in Libgen.rs ({{ "Non-Fiction" if lgrs_type == "nf" else "Fiction" }}), a shadow library that hosts a large collection of books, freely available to download, and easily mirrored by using its torrents. There are multiple independently run instances of Library Genesis that have slightly different collections, and this is the "libgen.rs" variant.
      </p>

      <p class="mb-4">
        This is the metadata of the book itself.
      </p>

      <div class="mb-4">
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Dataset</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">Libgen.rs Data Dump ({{ "Non-Fiction" if lgrs_type == "nf" else "Fiction" }})</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/datasets#lgrs" class="anna">anna</a> <a href="https://libgen.rs/dbdumps/">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Library Genesis {{ "Non-Fiction" if lgrs_type == "nf" else "Fiction" }} ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.id}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_type == 'nf' %}<a href="https://libgen.rs/json.php?ids={{lgrs_book_dict.id}}&fields=*">json</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source URL</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{ md5_url() }}{{lgrs_book_dict.md5 | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="{{ md5_url() }}{{lgrs_book_dict.md5 | lower}}">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Added</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.timeadded | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Last modified</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.timelastmodified | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Description last modified</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.timelastmodified_1 | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Title</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.title | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Author</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.author | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Edition</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.edition | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Series</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.series | default('-', true)}}</div>
          <div></div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Volume</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.volumeinfo | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Periodical</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.periodical | default('-', true)}}</div>
            <div></div>
          </div>
        {% endif %}
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Year</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.year | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Publisher</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.publisher | default('-', true)}}</div>
          <div></div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">City</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.city | default('-', true)}}</div>
            <div></div>
          </div>
        {% endif %}
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Description</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.descr | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Pages</div>
          <div class="grow py-1 w-0">
            <div class="flex">
              <div class="px-2 grow break-words line-clamp-[8]">{{lgrs_book_dict.pages | default('-', true)}}</div>
              <div></div>
            </div>
            {% if lgrs_type == 'nf' and lgrs_book_dict.pages | default(0, true) | int > 0 and (lgrs_book_dict.pages | int) != (lgrs_book_dict.pagesinfile | int) %}
              <div class="px-2"><strong>Note: different than the actual pages in the file (see below)</strong></div>
            {% endif %}
          </div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Language</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.language | default('-', true)}}{% if (lgrs_book_dict.language_codes | length) > 0 %} ({{lgrs_book_dict.language_codes | join(', ')}}){% endif %}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if (lgrs_book_dict.language_codes | length) > 0 %}<a href="https://r12a.github.io/app-subtags/index?check={{lgrs_book_dict.language_codes[0]}}">url</a>{% endif %}</div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Topic</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.topic | default('-', true)}}{% if lgrs_book_dict.topic_descr %} ({{lgrs_book_dict.topic_descr}}){% endif %}</div>
            <div></div>
          </div>
        {% endif %}
        {% if lgrs_book_dict.isbns_rich | length == 0 %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISBNs</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
            <div></div>
          </div>
        {% endif %}
        {% for isbn in lgrs_book_dict.isbns_rich %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">{{ 'ISBNs' if loop.index0 == 0 else ' ' }}&nbsp;</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbn[0]}} {{ " / " + isbn[1] if isbn[1] }}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/isbn/{{isbn[0]}}" class="anna">anna</a> <a href="https://en.wikipedia.org/wiki/Special:BookSources/{{isbn[0]}}">wiki</a> <a href="https://google.com/search?q=%22{{isbn[0]}}%22+OR+%22{{isbn[1]}}%22+OR+%22{{isbn[2]}}%22+OR+%22{{isbn[3]}}%22">goog</a></div>
          </div>
        {% endfor %}
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Google Books ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.googlebookid | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.googlebookid %}<a href="https://books.google.com/books?id={{lgrs_book_dict.googlebookid}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Amazon ID (ASIN)</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.asin | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.asin %}<a href="https://www.amazon.com/gp/product/{{lgrs_book_dict.asin}}">url</a>{% endif %}</div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Open Library ID</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.openlibraryid | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.openlibraryid[-1] == 'M' %}<a href="/ol/{{lgrs_book_dict.openlibraryid}}" class="anna">anna</a> <a href="https://openlibrary.org/books/{{lgrs_book_dict.openlibraryid}}">url</a>{% elif lgrs_book_dict.openlibraryid[-1] == 'W' %}<a href="https://openlibrary.org/works/{{lgrs_book_dict.openlibraryid}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISSN</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.issn | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.issn %}<a href="https://urn.issn.org/urn:issn:{{lgrs_book_dict.issn}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">DOI</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.doi | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.doi %}<a href="/doi/{{lgrs_book_dict.doi}}" class="anna">anna</a> <a href="https://doi.org/{{lgrs_book_dict.doi}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Dewey Decimal</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.ddc | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.ddc %}<a href="https://libgen.li/biblioservice.php?value={{lgrs_book_dict.ddc}}&type=ddc">url</a> <a href="https://en.wikipedia.org/wiki/List_of_Dewey_Decimal_classes">info</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">UDC</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.udc | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.udc %}<a href="https://libgen.li/biblioservice.php?value={{lgrs_book_dict.udc}}&type=udc">url</a> <a href="https://en.wikipedia.org/wiki/Universal_Decimal_Classification">info</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">LBC</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.lbc | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.lbc %}<a href="https://libgen.li/biblioservice.php?value={{lgrs_book_dict.lbc}}&type=bbc">url</a> <a href="https://www.isko.org/cyclo/lbc">info</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">LCC</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.lcc | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.lcc %}<a href="https://en.wikipedia.org/wiki/Library_of_Congress_Classification">info</a>{% endif %}</div>
          </div>
        {% endif %}
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Cover</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.cover_url_normalized | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.cover_url_normalized %}<a href="{{lgrs_book_dict.cover_url_normalized}}" rel="noopener noreferrer">url</a> <a href="https://www.google.com/searchbyimage?image_url={{lgrs_book_dict.cover_url_normalized}}">goog</a>{% endif %}</div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Tags</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.tags | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Table of Contents</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.toc | default('-', true)}}</div>
            <div></div>
          </div>
        {% endif %}
      </div>

      <h2 class="mt-12 mb-1 text-3xl font-bold">File metadata</h2>

      <p class="mb-4">
        The file information, like how it was scanned.
      </p>

      <div class="mb-4">
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">MD5</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.md5 | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/md5/{{lgrs_book_dict.md5 | lower}}" class="anna">anna</a> <a href="{{ md5_url() }}{{lgrs_book_dict.md5 | lower}}">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">IPFS CID</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.ipfs_cid | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.ipfs_cid %}<a href="ipfs://{{lgrs_book_dict.ipfs_cid | lower}}?filename={{lgrs_book_dict.normalized_filename}}">url</a> <a href="https://cloudflare-ipfs.com/ipfs/{{lgrs_book_dict.ipfs_cid | lower}}?filename={{lgrs_book_dict.normalized_filename}}" rel="noopener noreferrer nofollow" target="_blank">cf</a> <a href="https://ipfs.io/ipfs/{{lgrs_book_dict.ipfs_cid | lower}}?filename={{lgrs_book_dict.normalized_filename}}" rel="noopener noreferrer nofollow" target="_blank">io</a> <a href="https://gateway.pinata.cloud/ipfs/{{lgrs_book_dict.ipfs_cid | lower}}?filename={{lgrs_book_dict.normalized_filename}}" rel="noopener noreferrer nofollow" target="_blank">pin</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Filesize</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.filesize | filesizeformat}} / {{lgrs_book_dict.filesize}} B</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Extension</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.extension | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Original filename</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.locator | default('-', true)}}</div>
          <div></div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Pages</div>
            <div class="grow py-1 w-0">
              <div class="flex">
                <div class="px-2 grow break-words line-clamp-[8]">{{lgrs_book_dict.pagesinfile | default('-', true)}}</div>
                <div></div>
              </div>
              {% if lgrs_book_dict.pages | default(0, true) | int > 0 and (lgrs_book_dict.pages | int) != (lgrs_book_dict.pagesinfile | int) %}
                <div class="px-2"><strong>Note: different than the pages in the metadata (see above)</strong></div>
              {% endif %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">DPI</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.dpi | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Color</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgrs_book_dict.color in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Cleaned</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgrs_book_dict.cleaned in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Orientation</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.orientation | default('-', true)}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Paginated</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgrs_book_dict.paginated in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Scanned</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgrs_book_dict.scanned in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Bookmarked</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgrs_book_dict.bookmarked in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Searchable (OCR)</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if lgrs_book_dict.searchable in [1, "1", "y", "Y"] else "❌"}}</div>
            <div></div>
          </div>
        {% endif %}
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source library</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.library | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source library identifier</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.issue | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Comments</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.commentary | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Best version</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{lgrs_book_dict.generic | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.generic %}<a href="{{ md5_url() }}{{lgrs_book_dict.generic | lower}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Visible in Libgen</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if lgrs_book_dict.visible %}❌ ({{lgrs_book_dict.visible}}){% else %}✅{% endif %}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">CRC32</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.crc32 | default('-', true) | upper}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">eD2k hash</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.edonkey | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.edonkey and lgrs_book_dict.aich and lgrs_book_dict.md5 and lgrs_book_dict.extension and lgrs_book_dict.filesize %}<a href="ed2k://|file|{{lgrs_book_dict.md5}}.{{lgrs_book_dict.extension}}|{{lgrs_book_dict.filesize}}|{{lgrs_book_dict.edonkey}}|h={{lgrs_book_dict.aich}}|/">ed2k</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">eDonkey AICH</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.aich | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.edonkey and lgrs_book_dict.aich and lgrs_book_dict.md5 and lgrs_book_dict.extension and lgrs_book_dict.filesize %}<a href="ed2k://|file|{{lgrs_book_dict.md5}}.{{lgrs_book_dict.extension}}|{{lgrs_book_dict.filesize}}|{{lgrs_book_dict.edonkey}}|h={{lgrs_book_dict.aich}}|/">ed2k</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">SHA1</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.sha1 | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.sha1 and lgrs_book_dict.md5 and lgrs_book_dict.extension and lgrs_book_dict.filesize %}<a href="magnet:?xt=urn:sha1:{{lgrs_book_dict.sha1}}&xl={{lgrs_book_dict.filesize}}&dn={{lgrs_book_dict.md5}}.{{lgrs_book_dict.extension}}">gnutella</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">SHA256</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.sha256 | default('-', true) | lower}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">TTH</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.tth | default('-', true)}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.tth and lgrs_book_dict.md5 and lgrs_book_dict.extension and lgrs_book_dict.filesize %}<a href="magnet:?xt=urn:tree:tiger:{{lgrs_book_dict.tth}}&xl={{lgrs_book_dict.filesize}}&dn={{lgrs_book_dict.md5}}.{{lgrs_book_dict.extension}}">dc++</a>{% endif %}</div>
        </div>
        {% if lgrs_type == 'nf' %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Single torrent base64</div>
            <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.torrent | default('-', true)}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if lgrs_book_dict.torrent %}<a href="https://libgen.rs/book/index.php?md5={{lgrs_book_dict.md5}}&oftorrent=">url</a>{% endif %}</div>
          </div>
        {% endif %}
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">BTIH</div>
          <div class="px-2 py-1 grow truncate">{{lgrs_book_dict.btih | default('-', true)}}</div>
          <div></div>
        </div>
      </div>

      <h2 class="mt-12 mb-1 text-3xl font-bold">Raw JSON</h2>

      <p class="mb-4">
        Below is a JSON dump of the record for this book, straight out of the database. If you want all records, please check out the dataset at the top of this page.
      </p>

      <div class="text-xs p-4 font-mono break-words bg-[#0000000d]">{{ lgrs_book_dict_json | escape | replace('\n', '<br>' | safe) | replace('  ', '&nbsp;&nbsp;' | safe) }}</div>
    {% endif %}
  </div>
{% endblock %}
