{% extends "layouts/index.html" %}

{% block title %}{% if md5_dict %}{{md5_dict.additional.top_box.meta_information[0]}}{% endif %}{% endblock %}

{% block meta_tags %}
  {% if md5_dict %}
    <meta name="description" content="{{md5_dict.additional.top_box.meta_information[1:4] | join('\n\n')}}" />
  {% endif %}
{% endblock %}

{% block body %}
  <div class="mb-4 truncate">{{ gettext('page.md5.breadcrumbs', md5_input=md5_input) }}</div>

  {% if not(md5_dict is defined) %}
    <h2 class="mt-12 mb-1 text-3xl font-bold">{{ gettext('page.md5.invalid.header') }}</h2>
    <p class="mb-4 italic">
      {{ gettext('page.md5.invalid.text', md5_input=md5_input) }}
    </p>
  {% else %}
    <div class="mb-4 p-6 overflow-hidden bg-[#0000000d] break-words">
      <img class="float-right max-w-[25%] ml-4" src="{{md5_dict.additional.top_box.cover_url}}" alt="" referrerpolicy="no-referrer" onerror="this.parentNode.removeChild(this)" loading="lazy" decoding="async"/>
      <div class="text-xs text-gray-500">{{md5_dict.additional.top_box.top_row}}</div>
      <div class="text-xl font-bold">{{md5_dict.additional.top_box.title}}</div>
      <div class="text-sm">{{md5_dict.additional.top_box.publisher_and_edition}}</div>
      <div class="italic">{{md5_dict.additional.top_box.author}}</div>
      <div class="mt-4 line-clamp-[6]">{% if md5_dict.additional.top_box.description %}“{{md5_dict.additional.top_box.description | escape | replace('\n', '<br>' | safe)}}”{% endif %}</div>

      {% if (md5_dict.additional.download_urls | length) > 0 %}
        {% if (md5_dict.file_unified_data.problems | length) > 0 %}
          <div class="mt-4">{{ gettext('page.md5.box.issues.text1') }}</div>
          <ul class="list-inside">
            {% for problem in md5_dict.file_unified_data.problems %}
            <li>- {{ md5_problem_type_mapping[problem.type] }}{% if problem.descr %} ("{{problem.descr}}"){% endif %}</li>
            {% endfor %}
          </ul>

          <div class="mt-4">{{ gettext('page.md5.box.issues.text2') }}</div>
        {% else %}
          <div class="mt-4 font-bold">{{ gettext('page.md5.box.download.text', extension=(md5_dict.file_unified_data.extension_best | lower)) }}</div>
        {% endif %}
      
        <ul>
          {% for label, url, extra in md5_dict.additional.download_urls %}
            <li>- {{ gettext('page.md5.box.download.option', num=loop.index, link=(('<a href="' + url + '" rel="noopener noreferrer nofollow" target="_blank" class="js-download-link">' + label + '</a>') | safe), extra=extra) }}</li>
          {% endfor %}
        </ul>
        {% if (md5_dict.file_unified_data.problems | length) == 0 %}
          <div class="mt-4">{{ gettext('page.md5.box.download.no_issues_download_options_explanation') }}</div>

          <div class="mt-4">{{ gettext('page.md5.box.download.no_issues_notice') }}</div>
        {% endif %}

        <div class="mt-4">{{ gettext('page.md5.box.download.no_hosting', about_link=('<a href="/about">' | safe)) }}</div>
      {% endif %}
    </div>

    <script>
      (function() {
        const md5 = {{ md5_input | tojson }};
        for (const el of document.querySelectorAll(".js-download-link")) {
          // Increase counter when clicked.
          el.addEventListener("click", function() {
            try {
              if (window.localStorage['md5_download_counted_' + md5] === "1") {
                return;
              }
              window.localStorage['md5_download_counted_' + md5] = "1";
            } catch(e) {
              console.error("Error with localStorage: ", e);
            }
            navigator.sendBeacon("/dyn/downloads/increment/" + md5);
          });

          // Prime IPFS caches.
          if (el.href.includes('/ipfs/')) {
            fetch(el.href, { method: "HEAD", mode: "no-cors", referrerPolicy: "no-referrer", credentials: "omit" });
          }
        }
      })();

    </script>

    <button class="custom bg-[#777] hover:bg-[#999] text-white font-bold py-2 px-4 rounded shadow mb-4 mt-8" onclick="document.querySelector('.js-technical-details').classList.remove('hidden'); this.classList.add('hidden')">{{ gettext('common.tech_details') }}</button>

    <div class="js-technical-details hidden" itemscope="" itemtype="https://schema.org/Book">
      {% if gettext('common.english_only') | trim %}
        <p class="mb-4 font-bold">{{ gettext('common.english_only') }}</p>
      {% endif %}

      <div lang="en">
        <h2 class="mt-12 mb-1 text-3xl font-bold">Unified file information</h2>

        <p class="mb-4">
          A "file MD5" is a hash that gets computed from the file contents, and is reasonably unique based on that content. All shadow libraries that we have indexed on here primarily use MD5s to identify files.
        </p>

        <p class="mb-4">
          A file might appear in multiple shadow libraries. This is the file information that we pieced together from the different sources that we have available here.
        </p>

        <div class="mb-4">
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Dataset</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">Files from shadow libraries, combined by MD5</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/datasets#files" class="anna">anna</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Original filename</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">
              {{md5_dict.file_unified_data.original_filename_best | default('-', true)}}
              {% for original_filename in md5_dict.file_unified_data.original_filename_additional %}
                <div class="text-sm text-gray-500">{{original_filename}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Extension</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">
              {{md5_dict.file_unified_data.extension_best | default('-', true)}}
              {% for extension in md5_dict.file_unified_data.extension_additional %}
                <div class="text-sm text-gray-500">{{extension}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Filesize</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">
              {% if md5_dict.file_unified_data.filesize_best %}
              {{md5_dict.file_unified_data.filesize_best | filesizeformat}} / {{md5_dict.file_unified_data.filesize_best}} B
              {% endif %}
              {% for filesize in md5_dict.file_unified_data.filesize_additional %}
                <div class="text-sm text-gray-500">{{filesize | filesizeformat}} / {{filesize}} B</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Title</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]" itemprop="name">
              {{md5_dict.file_unified_data.title_best | default('-', true)}}
              {% for title in md5_dict.file_unified_data.title_additional %}
                <div class="text-sm text-gray-500">{{title}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Author</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]" itemprop="author">
              {{md5_dict.file_unified_data.author_best | default('-', true)}}
              {% for author in md5_dict.file_unified_data.author_additional %}
                <div class="text-sm text-gray-500">{{author}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Publisher</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]" itemprop="publisher">
              {{md5_dict.file_unified_data.publisher_best | default('-', true)}}
              {% for publisher in md5_dict.file_unified_data.publisher_additional %}
                <div class="text-sm text-gray-500">{{publisher}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Edition/series info</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]" itemprop="bookEdition">
              {{md5_dict.file_unified_data.edition_varia_best | default('-', true)}}
              {% for edition_varia in md5_dict.file_unified_data.edition_varia_additional %}
                <div class="text-sm text-gray-500">{{edition_varia}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Year</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]" {% if md5_dict.file_unified_data.year_best %} itemprop="datePublished" content="{{md5_dict.file_unified_data.year_best}}-01-01"{% endif %}>
              {{md5_dict.file_unified_data.year_best | default('-', true)}}
              {% for year in md5_dict.file_unified_data.year_additional %}
                <div class="text-sm text-gray-500">{{year}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Language</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">
              {% if (md5_dict.file_unified_data.language_codes | length) > 0 %}
                {% for lang_code in md5_dict.file_unified_data.language_codes %}{{ '' if loop.index0 == 0 else ', ' }}{{lang_code}}{% endfor %}
              {% else %}
                -
              {% endif %}
            </div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if (md5_dict.file_unified_data.language_codes | length) > 0 %}<a href="https://r12a.github.io/app-subtags/index?check={{md5_dict.file_unified_data.language_codes[0]}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Most likely language (detected)</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]" itemprop="inLanguage" content="{{md5_dict.file_unified_data.most_likely_language_code}}">
              {{ md5_dict.additional.most_likely_language_name | default('Unknown', true) }}{% if md5_dict.file_unified_data.most_likely_language_code %} ({{ md5_dict.file_unified_data.most_likely_language_code }}){% endif %}
            </div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.file_unified_data.most_likely_language_code %}<a href="https://r12a.github.io/app-subtags/index?check={{ md5_dict.file_unified_data.most_likely_language_code }}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Description</div>
            <div class="px-2 py-1 grow break-words line-clamp-[15]" itemprop="description">{{md5_dict.file_unified_data.stripped_description_best | default('-', true) | escape | replace('\n', '<br>' | safe)}}{% for stripped_description in md5_dict.file_unified_data.stripped_description_additional %}<div class="text-sm text-gray-500">{{stripped_description | escape | replace('\n', '<br>' | safe)}}</div>{% endfor %}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Content type</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">
              {% if md5_dict.file_unified_data.content_type %}
                {{md5_content_type_mapping[md5_dict.file_unified_data.content_type]}} ("{{md5_dict.file_unified_data.content_type}}")
              {% else %}
                -
              {% endif %}
            </div>
            <div></div>
          </div>
          {% if md5_dict.additional.isbns_rich | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">ISBNs</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for isbn in md5_dict.additional.isbns_rich %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'ISBNs' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]"><span itemprop="isbn">{{isbn[0]}}</span> {{ " / " + isbn[1] if isbn[1] }}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/isbn/{{isbn[0]}}" class="anna">anna</a> <a href="https://en.wikipedia.org/wiki/Special:BookSources/{{isbn[0]}}">wiki</a> <a href="https://google.com/search?q=%22{{isbn[0]}}%22+OR+%22{{isbn[1]}}%22+OR+%22{{isbn[2]}}%22+OR+%22{{isbn[3]}}%22">goog</a></div>
            </div>
          {% endfor %}
          {% if md5_dict.file_unified_data.openlibraryid_multiple | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Open Library ID</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for id in md5_dict.file_unified_data.openlibraryid_multiple %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'Open Library ID' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{id}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right">{% if id[-1] == 'M' %}<a href="/ol/{{id}}" class="anna">anna</a> <a itemprop="sameAs" content="https://openlibrary.org/books/{{id}}"  href="https://openlibrary.org/books/{{id}}">url</a>{% elif id[-1] == 'W' %}<a href="https://openlibrary.org/works/{{id}}">url</a>{% endif %}</div>
            </div>
          {% endfor %}
          {% if md5_dict.file_unified_data.doi_multiple | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">DOI</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for id in md5_dict.file_unified_data.doi_multiple %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'DOI' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{id}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/doi/{{id}}" class="anna">anna</a> <a itemprop="sameAs" content="https://doi.org/{{id}}" href="https://doi.org/{{id}}">url</a> <a href="https://sci-hub.ru/{{id}}">scihub</a></div>
            </div>
          {% endfor %}
          {% if md5_dict.file_unified_data.googlebookid_multiple | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Google Books ID</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for id in md5_dict.file_unified_data.googlebookid_multiple %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'Google Books ID' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{id}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a itemprop="sameAs" content="https://books.google.com/books?id={{id}}"  href="https://books.google.com/books?id={{id}}">url</a></div>
            </div>
          {% endfor %}
          {% if md5_dict.file_unified_data.asin_multiple | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Amazon ID (ASIN)</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for id in md5_dict.file_unified_data.asin_multiple %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'Amazon ID (ASIN)' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{id}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a itemprop="sameAs" content="https://www.amazon.com/gp/product/{{id}}"  href="https://www.amazon.com/gp/product/{{id}}">url</a></div>
            </div>
          {% endfor %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Cover URL</div>
            <div class="grow py-1 w-0">
              <div class="flex">
                <div class="px-2 grow truncate">{{md5_dict.file_unified_data.cover_url_best | default('-', true)}}</div>
                <div class="px-2 whitespace-nowrap text-right">{% if md5_dict.file_unified_data.cover_url_best %}<a href="{{md5_dict.file_unified_data.cover_url_best}}" rel="noopener noreferrer">url</a> <a href="https://www.google.com/searchbyimage?image_url={{md5_dict.file_unified_data.cover_url_best}}">goog</a>{% endif %}</div>
              </div>
              {% for cover_url in md5_dict.file_unified_data.cover_url_additional %}
                <div class="flex text-sm text-gray-500">
                  <div class="px-2 grow truncate">{{cover_url}}</div>
                  <div class="px-2 whitespace-nowrap text-right"><a href="{{cover_url}}" rel="noopener noreferrer">url</a></div>
                </div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Comments</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">
              {{md5_dict.file_unified_data.comments_best | default('-', true)}}
              {% for comments in md5_dict.file_unified_data.comments_additional %}
                <div class="text-sm text-gray-500">{{comments}}</div>
              {% endfor %}
            </div>
            <div></div>
          </div>
          {% if md5_dict.file_unified_data.problems | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">File problems</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for problem in md5_dict.file_unified_data.problems %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'File problems' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">❌ {{ md5_problem_type_mapping[problem.type] }}{% if problem.descr %} ("{{problem.descr}}"){% endif %}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right">
                {% if problem.type=='lgrsnf_visible' and md5_dict.lgrsnf_book %}<a href="/lgrs/nf/{{md5_dict.lgrsnf_book.id}}" class="anna">anna</a>{% endif %}
                {% if problem.type=='lgrsfic_visible' and md5_dict.lgrsfic_book %}<a href="/lgrs/fic/{{md5_dict.lgrsfic_book.id}}" class="anna">anna</a>{% endif %}
                {% if problem.type in ['lgli_visible', 'lgli_broken'] and md5_dict.lgli_file %}<a href="/lgli/file/{{md5_dict.lgli_file.f_id}}" class="anna">anna</a>{% endif %}
              </div>
            </div>
          {% endfor %}
        </div>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Shadow libraries</h2>

        <p class="mb-4">
          If a file appears in multiple shadow libraries, it's often the case that it was uploaded to Libgen.rs first, and then taken over by Library Genesis ".gs" Fork and/or Z-Library. But it can also mean that the file was independently uploaded. The metadata might differ for the different libraries, even when one library initially just copied the metadata from another one, since contributors of the different libraries can subsequently change the metadata independently.
        </p>

        <div class="mb-4">
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen.rs Non-Fiction</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.lgrsnf_book %}✅ Book ID #{{md5_dict.lgrsnf_book.id}}{% else %}❌{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.lgrsnf_book %}<a href="/lgrs/nf/{{md5_dict.lgrsnf_book.id}}" class="anna">anna</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen.rs Fiction</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.lgrsfic_book %}✅ Book ID #{{md5_dict.lgrsfic_book.id}}{% else %}❌{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.lgrsfic_book %}<a href="/lgrs/fic/{{md5_dict.lgrsfic_book.id}}" class="anna">anna</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen.li Files</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.lgli_file %}✅ File ID #{{md5_dict.lgli_file.f_id}}{% else %}❌{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.lgli_file %}<a href="/lgli/file/{{md5_dict.lgli_file.f_id}}" class="anna">anna</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Z-Library</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.zlib_book %}✅ Book ID #{{md5_dict.zlib_book.zlibrary_id}}{% else %}❌{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.zlib_book %}<a href="/zlib/{{md5_dict.zlib_book.zlibrary_id}}" class="anna">anna</a>{% endif %}</div>
          </div>
        </div>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Individual file downloads</h2>

        <p class="mb-4">
          Depending on the libraries that this file is in, it may be downloaded from various sources. Most Libgen.rs files are hosted on IPFS, which make them accessible through IPFS proxies. Library Genesis ".gs" and Z-Library have files that they host exclusively.
        </p>

        <div class="mb-4">
          {% if md5_dict.ipfs_infos | length == 0 %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">IPFS CID</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
          {% for ipfs_info in md5_dict.ipfs_infos %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">{{ 'IPFS CID' if loop.index0 == 0 else ' ' }}&nbsp;</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{ipfs_info.ipfs_cid}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="ipfs://{{ipfs_info.ipfs_cid}}">url</a> <a href="https://cloudflare-ipfs.com/ipfs/{{ipfs_info.ipfs_cid}}?filename={{ipfs_info.filename}}" rel="noopener noreferrer nofollow" target="_blank">cf</a> <a href="https://ipfs.io/ipfs/{{ipfs_info.ipfs_cid}}?filename={{ipfs_info.filename}}" rel="noopener noreferrer nofollow" target="_blank">io</a> <a href="https://gateway.pinata.cloud/ipfs/{{ipfs_info.ipfs_cid}}?filename={{ipfs_info.filename}}" rel="noopener noreferrer nofollow" target="_blank">pin</a></div>
            </div>
          {% endfor %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen.rs Non-Fiction</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.lgrsnf_book %}http://library.lol/main/{{md5_dict.lgrsnf_book.md5 | lower}}{% else %}-{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.lgrsnf_book %}<a itemprop="sameAs" content="http://library.lol/main/{{md5_dict.lgrsnf_book.md5 | lower}}" href="http://library.lol/main/{{md5_dict.lgrsnf_book.md5 | lower}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen.rs Fiction</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.lgrsfic_book %}http://library.lol/fiction/{{md5_dict.lgrsfic_book.md5 | lower}}{% else %}-{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.lgrsfic_book %}<a itemprop="sameAs" content="http://library.lol/fiction/{{md5_dict.lgrsfic_book.md5 | lower}}" href="http://library.lol/fiction/{{md5_dict.lgrsfic_book.md5 | lower}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Libgen.li</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.lgli_file %}http://libgen.li/ads.php?md5={{md5_dict.lgli_file.md5 | lower}}{% else %}-{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.lgli_file %}<a itemprop="sameAs" content="http://libgen.li/ads.php?md5={{md5_dict.lgli_file.md5 | lower}}" href="http://libgen.li/ads.php?md5={{md5_dict.lgli_file.md5 | lower}}">url</a>{% endif %}</div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Z-Library (TOR)</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{% if md5_dict.zlib_book %}http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{md5_dict.zlib_book.md5_reported | lower}}{% else %}-{% endif %}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right">{% if md5_dict.zlib_book %}<a itemprop="sameAs" content="http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{md5_dict.zlib_book.md5_reported | lower}}" href="http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{md5_dict.zlib_book.md5_reported | lower}}">url</a> <a href="https://www.torproject.org/download/">info</a></a>{% endif %}</div>
          </div>
        </div>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Torrent downloads</h2>

        <p class="mb-4">
          For some files, they are available as bulk download. This is generally available for the Libgen.rs collection, books in the Libgen.li collection (but not comics, magazines, etc), and books in the Z-Library collection.
        </p>

        <p class="mb-4">
          For Z-Library files, the torrents were created by the same people behind this website. We therefore have some additional information on the actual MD5 hash and filesize, since sometimes those didn't match the ones reported by the Z-Library.
        </p>

        <div class="mb-4">
          {% if md5_dict.zlib_book and md5_dict.zlib_book.pilimi_torrent %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent available</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">✅ Z-Library torrent (in Pirate Library Mirror)</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">http://pilimi.org/zlib-downloads.html#{{md5_dict.zlib_book.pilimi_torrent}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://pilimi.org/zlib-downloads.html#{{md5_dict.zlib_book.pilimi_torrent}}">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{md5_dict.zlib_book.pilimi_torrent}}</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://pilimi.org/zlib-downloads.html#{{md5_dict.zlib_book.pilimi_torrent}}">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Actual MD5</div>
              <div class="grow py-1 w-0">
                <div class="flex">
                  <div class="px-2 grow truncate">{{md5_dict.zlib_book.md5}}</div>
                  <div></div>
                </div>
                {% if md5_dict.zlib_book.in_libgen == 0 and md5_dict.zlib_book.md5_reported != md5_dict.zlib_book.md5 %}
                  <div class="px-2"><strong>Note: different than the metadata ({{md5_dict.zlib_book.md5_reported}})</strong></div>
                {% endif %}
              </div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Actual filesize</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">{{md5_dict.zlib_book.filesize | filesizeformat}} / {{md5_dict.zlib_book.filesize}} B{% if md5_dict.zlib_book.filesize_reported != md5_dict.zlib_book.filesize %}<br><strong class="whitespace-normal">Note: different than the metadata ({{md5_dict.zlib_book.filesize_reported | filesizeformat}} / {{md5_dict.zlib_book.filesize_reported}} B)</strong>{% endif %}</div>
              <div></div>
            </div>
          {% elif md5_dict.lgrsnf_book %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent available</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">✅ Libgen.rs Non-Fiction torrent</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.rs/repository_torrent/</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rs/repository_torrent/">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">r_{{(md5_dict.lgrsnf_book.id // 1000) | default('', true)}}000.torrent</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rs/repository_torrent/r_{{(md5_dict.lgrsnf_book.id // 1000) | default('', true)}}000.torrent">url</a></div>
            </div>
          {% elif md5_dict.lgrsfic_book %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent available</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">✅ Libgen.rs Fiction torrent</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.rs/fiction/repository_torrent/</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rs/fiction/repository_torrent/">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">f_{{(md5_dict.lgrsfic_book.id // 1000) | default('', true)}}000.torrent</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rs/fiction/repository_torrent/f_{{(md5_dict.lgrsfic_book.id // 1000) | default('', true)}}000.torrent">url</a></div>
            </div>
          {% elif md5_dict.lgli_file and md5_dict.lgli_file.libgen_topic in ['l', 'f'] %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent available</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">❓ Might be in Libgen.li torrents</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.li/torrents/</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.li/torrents/">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% elif md5_dict.lgli_file and md5_dict.lgli_file.libgen_topic == 'a' %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent available</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">❓ Might be in Sci-Hub/"scimag" torrents</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.rs/scimag/repository_torrent/</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rs/scimag/repository_torrent/">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1"> </div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.li/torrents/scimag/</div>
              <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.li/torrents/scimag/">url</a></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% else %}
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent available</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">❌ No known bulk torrents available.</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
            <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
              <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
              <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
              <div></div>
            </div>
          {% endif %}
        </div>

        <h2 class="mt-12 mb-1 text-3xl font-bold">Raw JSON</h2>

        <p class="mb-4">
          This is the raw JSON used to render this page.
        </p>

        <div class="text-xs p-4 font-mono break-words bg-[#0000000d]">{{ md5_dict_json | escape | replace('\n', '<br>' | safe) | replace('  ', '&nbsp;&nbsp;' | safe) }}</div>
      </div>
    </div>
  {% endif %}
{% endblock %}
