{% extends "layouts/index.html" %}

{% block title %}
{% if (search_input | length) > 0 %}{{ gettext('page.search.title.results', search_input=search_input) }}{% else %}{{ gettext('page.search.title.new') }}{% endif %}
{% endblock %}

{% block body %}
  {% if (search_input | length) > 0 %}
    {% if search_dict %}
      <div class="mb-4">{% if search_dict.max_search_md5_dicts_reached %}{{ gettext('page.search.breadcrumbs.results_more', search_input=search_input, num=(search_dict.search_md5_dicts | length)) }}{% else %}{{ gettext('page.search.breadcrumbs.results', search_input=search_input, num=(search_dict.search_md5_dicts | length)) }}{% endif %}</div>
    {% else %}
      <div class="mb-4">{{ gettext('page.search.breadcrumbs.error', search_input=search_input) }}</div>
    {% endif %}
  {% else %}
    <div class="mb-4">{{ gettext('page.search.breadcrumbs.new') }}</div>
  {% endif %}

  <div class="mb-4" style="font-size: 90%; color: #555">{{ gettext('page.search.header.update_info', last_data_refresh_date=(g.last_data_refresh_date | dateformat('long')), link_open_tag=('<a href="/datasets">' | safe)) }}</div>

  <form action="/search" method="get" role="search">
    <div class="flex mb-4 max-w-[600px]" style="font-size: 87%">
      <select class="grow w-[25%] bg-[#00000011] px-2 py-1 mr-2 rounded" name="lang">
        <option value="">{{ gettext('page.search.filters.language.header') }}</option>
        {% for bucket in search_dict.aggregations.most_likely_language_code %}
          <option value="{{bucket.key}}" {% if bucket.selected %}selected{% endif %}>{{bucket.label}} ({{'{0:,}'.format(bucket.doc_count)}})</option>
        {% endfor %}
      </select>
      <select class="grow w-[25%] bg-[#00000011] px-2 py-1 mr-2 rounded" name="content">
        <option value="">{{ gettext('page.search.filters.content.header') }}</option>
        {% for bucket in search_dict.aggregations.content_type %}
          <option value="{{bucket.key}}" {% if bucket.selected %}selected{% endif %}>{{bucket.label}} ({{'{0:,}'.format(bucket.doc_count)}})</option>
        {% endfor %}
      </select>
      <select class="grow w-[25%] bg-[#00000011] px-2 py-1 mr-2 rounded" name="ext">
        <option value="">{{ gettext('page.search.filters.filetype.header') }}</option>
        {% for bucket in search_dict.aggregations.extension_best %}
          <option value="{{bucket.key}}" {% if bucket.selected %}selected{% endif %}>{{bucket.label}} ({{'{0:,}'.format(bucket.doc_count)}})</option>
        {% endfor %}
      </select>
      <select class="grow w-[25%] bg-[#00000011] px-2 py-1 mr-2 rounded" name="sort">
        <option value="">{{ gettext('page.search.filters.sorting.most_relevant') }}</option>
        <option value="newest" {% if search_dict.sort_value == 'newest' %}selected{% endif %}>{{ gettext('page.search.filters.sorting.newest') }}</option>
        <option value="oldest" {% if search_dict.sort_value == 'oldest' %}selected{% endif %}>{{ gettext('page.search.filters.sorting.oldest') }}</option>
        <option value="largest" {% if search_dict.sort_value == 'largest' %}selected{% endif %}>{{ gettext('page.search.filters.sorting.largest') }}</option>
        <option value="smallest" {% if search_dict.sort_value == 'smallest' %}selected{% endif %}>{{ gettext('page.search.filters.sorting.smallest') }}</option>
      </select>
    </div>

    <div class="flex mb-4">
      <input type="text" name="q" placeholder="{{ gettext('common.search.placeholder') }}" value="{{search_input}}" class="grow bg-[#00000011] px-2 py-1 mr-2 rounded" autofocus>
      <button class="text-[#777] hover:text-[#333]" type="submit">{{ gettext('common.search.submit') }}</button>
    </div>
  </form>

  {% if (search_input | length) > 0 %}
    {% if not search_dict %}
      <p class="mt-4 font-bold">{{ gettext('page.search.results.error.header') }}</p>

      <p class="mt-4">{{ gettext('page.search.results.error.text') }}</p>
    {% else %}
      {% if (search_dict.search_md5_dicts | length) == 0 %}
        <div class="mt-4">{{ gettext('page.search.results.none') }}</div>
      {% endif %}

      <div class="mb-4">
        {% for search_md5_dict in (search_dict.search_md5_dicts + search_dict.additional_search_md5_dicts) %}
          {% if (loop.index0 == (search_dict.search_md5_dicts | length)) and (search_dict.additional_search_md5_dicts | length > 0) %}
          <div class="italic mt-8">{% if search_dict.max_additional_search_md5_dicts_reached %}{{ gettext('page.search.results.partial_more', num=(search_dict.additional_search_md5_dicts | length)) }}{% else %}{{ gettext('page.search.results.partial', num=(search_dict.additional_search_md5_dicts | length)) }}{% endif %}</div>
          {% endif %}

          <div class="h-[125] {% if loop.index0 > 10 %}js-scroll-hidden{% endif %}" id="link-index-{{loop.index0}}">
            {% if loop.index0 > 10 %}<!--{% endif %}
            <a href="/md5/{{search_md5_dict.md5}}" class="custom-a flex items-center relative left-[-10] px-[10] py-2 hover:bg-[#00000011] {% if (search_md5_dict.file_unified_data.problems | length) > 0 %}opacity-[40%]{% endif %}">
              <div class="flex-none">
                <div class="relative overflow-hidden w-[72] h-[108] flex flex-col justify-center">
                  <div class="absolute w-[100%] h-[90]" style="background-color: hsl({{ (loop.index0 % 4) * (256//3) + (range(0, 256//3) | random) }}deg 43% 73%)"></div>
                  <img class="relative inline-block" src="{{search_md5_dict.file_unified_data.cover_url_best if 'zlibcdn2' not in search_md5_dict.file_unified_data.cover_url_best}}" alt="" referrerpolicy="no-referrer" onerror="this.parentNode.removeChild(this)" loading="lazy" decoding="async"/>
                </div>
              </div>
              <div class="relative top-[-1] pl-4 grow overflow-hidden">
                <div class="truncate text-xs text-gray-500">{{search_md5_dict.additional.most_likely_language_name + ", " if search_md5_dict.additional.most_likely_language_name | length > 0}}{{search_md5_dict.file_unified_data.extension_best}}, {% if search_md5_dict.file_unified_data.filesize_best | default(0, true) < 1000000 %}&lt;1MB{% else %}{{search_md5_dict.file_unified_data.filesize_best | default(0, true) | filesizeformat | replace(' ', '')}}{% endif %}{{', "' + search_md5_dict.file_unified_data.original_filename_best_name_only + '"' if search_md5_dict.file_unified_data.original_filename_best_name_only}}</div>
                <h3 class="truncate text-xl font-bold">{{search_md5_dict.file_unified_data.title_best}}</h3>
                <div class="truncate text-sm">{{search_md5_dict.file_unified_data.publisher_best}}{% if search_md5_dict.file_unified_data.publisher_best and search_md5_dict.file_unified_data.edition_varia_best %}, {% endif %}{{search_md5_dict.file_unified_data.edition_varia_best}}</div>
                <div class="truncate italic">{{search_md5_dict.file_unified_data.author_best}}</div>
                {% if (search_md5_dict.file_unified_data.problems | length) > 0 %}<div>{{ gettext('page.search.results.issues') }}</div>{% endif %}
              </div>
            </a>
            {% if loop.index0 > 10 %}-->{% endif %}
          </div>
        {% endfor %}
      </div>

      <script>
        var lastAnimationFrame = undefined;
        var topByElement = {};
        function render() {
          window.cancelAnimationFrame(lastAnimationFrame);
          lastAnimationFrame = window.requestAnimationFrame(() => {
            var bottomEdge = window.scrollY + window.innerHeight * 3; // Load 3 pages worth
            for (element of document.querySelectorAll('.js-scroll-hidden')) {
              if (!topByElement[element.id]) {
                topByElement[element.id] = element.getBoundingClientRect().top + window.scrollY;
              }
              if (topByElement[element.id] <= bottomEdge) {
                element.classList.remove("js-scroll-hidden");
                element.innerHTML = element.innerHTML.replace('<' + '!--', '').replace('-' + '->', '')
              }
            }
          });
        }
        document.addEventListener('DOMContentLoaded', () => {
          document.addEventListener('scroll', () => {
            render();
          });
          render();
        });
      </script>
    {% endif %}
  {% endif %}
{% endblock %}
