{% extends "layouts/index.html" %}

{% block title %}{% if zlib_book_dict and zlib_book_dict.title %}{{zlib_book_dict.title}} - {% endif %}Z-Library #{{zlib_id}}{% endblock %}

{% block body %}
  <div class="mb-4">Datasets ▶ Z-Library ▶ Book ID #{{zlib_id}}</div>

  {% if gettext('common.english_only') | trim %}
    <p class="mb-4 font-bold">{{ gettext('common.english_only') }}</p>
  {% endif %}

  <div lang="en">
    {% if not(zlib_book_dict is defined) %}
      <h2 class="mt-12 mb-1 text-3xl font-bold">Not found</h2>
      <p class="mb-4">
        This ID was not found in the Z-Library dataset. They sometimes skip over ranges of IDs, and there is a maximum ID representing how many books have been added so far.
      </p>
    {% else %}
      <h2 class="mt-12 mb-1 text-3xl font-bold">Scraped metadata</h2>

      <p class="mb-4">
        This is a book in Z-Library, a shadow library that hosts a large collection of books, freely available to download. The data on this page is from the Pirate Library Mirror Z-Library Collection, which is a project by the same people who made Anna’s Archive.
      </p>

      <p class="mb-4">
        The Pirate Library Mirror Z-Library Collection contains an index with metadata scraped from the Z-Library website. This table is from that index.
      </p>

      <div class="mb-4">
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Dataset</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">Pirate Library Mirror Z-Library Collection</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/datasets#zlib" class="anna">anna</a> <a href="http://pilimi.org/zlib.html">url</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Z-Library ID</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.zlibrary_id}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">File MD5 hash</div>
          <div class="grow py-1 w-0">
            <div class="flex">
              <div class="px-2 grow truncate">{{zlib_book_dict.md5_reported}}</div>
              <div class="px-2 whitespace-nowrap text-right"><a href="/md5/{{zlib_book_dict.md5_reported}}" class="anna">anna</a></div>
            </div>
            {% if zlib_book_dict.in_libgen == 0 and zlib_book_dict.md5_reported != zlib_book_dict.md5 %}
              <div class="px-2"><strong>Note: different than the downloaded file (see below)</strong></div>
            {% endif %}
          </div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Source URL (TOR)</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{zlib_book_dict.md5_reported}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{zlib_book_dict.md5_reported}}">url</a> <a href="https://www.torproject.org/download/">info</a></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">IPFS CID</div>
          <div class="px-2 py-1 grow truncate">{{zlib_book_dict.ipfs_cid | default('-', true) | lower}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if zlib_book_dict.ipfs_cid %}<a href="ipfs://{{zlib_book_dict.ipfs_cid | lower}}?filename={{zlib_book_dict.normalized_filename}}">url</a> <a href="https://cloudflare-ipfs.com/ipfs/{{zlib_book_dict.ipfs_cid | lower}}?filename={{zlib_book_dict.normalized_filename}}" rel="noopener noreferrer nofollow" target="_blank">cf</a> <a href="https://ipfs.io/ipfs/{{zlib_book_dict.ipfs_cid | lower}}?filename={{zlib_book_dict.normalized_filename}}" rel="noopener noreferrer nofollow" target="_blank">io</a> <a href="https://gateway.pinata.cloud/ipfs/{{zlib_book_dict.ipfs_cid | lower}}?filename={{zlib_book_dict.normalized_filename}}" rel="noopener noreferrer nofollow" target="_blank">pin</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Title</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.title | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Author</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.author | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Publisher</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.publisher | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Language</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.language | default('-', true)}}{% if (zlib_book_dict.language_codes | length) > 0 %} ({{zlib_book_dict.language_codes | join(', ')}}){% endif %}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right">{% if (zlib_book_dict.language_codes | length) > 0 %}<a href="https://r12a.github.io/app-subtags/index?check={{zlib_book_dict.language_codes[0]}}">url</a>{% endif %}</div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Series</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.series | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Volume</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.volume | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Edition</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.edition | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Year</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.year | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Pages</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.pages | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Description</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.stripped_description}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Date added</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.date_added | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Date modified</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.date_modified | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Filesize</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.filesize_reported | default(0, true) | filesizeformat}} / {{zlib_book_dict.filesize_reported}} B{% if zlib_book_dict.in_libgen == 0 and zlib_book_dict.filesize_reported != zlib_book_dict.filesize %}<br><strong class="whitespace-normal">Note: different than the downloaded file (see below)</strong>{% endif %}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">File extension</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.extension | default('-', true)}}</div>
          <div></div>
        </div>
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Cover URL</div>
          <div class="px-2 py-1 grow truncate">{{zlib_book_dict.cover_url}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="{{zlib_book_dict.cover_url}}">url</a> <a href="https://www.google.com/searchbyimage?image_url={{zlib_book_dict.cover_url}}">goog</a></div>
        </div>
        {% if zlib_book_dict.isbns_rich | length == 0 %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">ISBNs</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">-</div>
            <div></div>
          </div>
        {% endif %}
        {% for isbn in zlib_book_dict.isbns_rich %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">{{ 'ISBNs' if loop.index0 == 0 else ' ' }}&nbsp;</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{isbn[0]}} {{ " / " + isbn[1] if isbn[1] }}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="/isbn/{{isbn[0]}}" class="anna">anna</a> <a href="https://en.wikipedia.org/wiki/Special:BookSources/{{isbn[0]}}">wiki</a> <a href="https://google.com/search?q=%22{{isbn[0]}}%22+OR+%22{{isbn[1]}}%22+OR+%22{{isbn[2]}}%22+OR+%22{{isbn[3]}}%22">goog</a></div>
          </div>
        {% endfor %}
      </div>

      <h2 class="mt-12 mb-1 text-3xl font-bold">File information</h2>

      <p class="mb-4">
        Z-Library books are generally available for download, with some exceptions. A large number of books are also available through Library Genesis, of which Z-Library is a superset. If the file is in Library Genesis, there is no futher file information in this dataset. They are also available in bulk through torrents. Metadata quality is generally decent, and can be improved by the general public by making suggestions, which are then reviewed by moderators.
      </p>

      <div class="mb-4">
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">In Library Genesis</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">{{"✅" if zlib_book_dict.in_libgen == 1 else "❌"}}</div>
          <div></div>
        </div>
        {% if zlib_book_dict.in_libgen == 0 %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">MD5 hash</div>
            <div class="grow py-1 w-0">
              <div class="flex">
                <div class="px-2 grow truncate">{{zlib_book_dict.md5}}</div>
                <div class="px-2 whitespace-nowrap text-right"><a href="/md5/{{zlib_book_dict.md5}}" class="anna">anna</a></div>
              </div>
              {% if zlib_book_dict.in_libgen == 0 and zlib_book_dict.md5_reported != zlib_book_dict.md5 %}
                <div class="px-2"><strong>Note: different than the metadata (see above)</strong></div>
              {% endif %}
            </div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Filesize</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.filesize | default(0, true) | filesizeformat}} / {{zlib_book_dict.filesize}} B{% if zlib_book_dict.filesize_reported != zlib_book_dict.filesize %}<br><strong class="whitespace-normal">Note: different than the metadata (see above)</strong>{% endif %}</div>
            <div></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Torrent filename</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">{{zlib_book_dict.pilimi_torrent}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://pilimi.org/zlib-downloads.html#{{zlib_book_dict.pilimi_torrent}}">url</a></div>
          </div>
        {% endif %}
      </div>

      <h2 class="mt-12 mb-1 text-3xl font-bold">File downloads</h2>

      <p class="mb-4">
        Z-Library books can be downloaded directly from the Z-Library, with a limit of a certain number of downloads per day. If it is present in Library Genesis, it can be downloaded from there as well. For bulk downloads, it can be downloaded from either a Library Genesis torrent, or a Pirate Library Mirror torrent.
      </p>

      <div class="mb-4">
        <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
          <div class="flex-none w-[150] px-2 py-1">Z-Library (TOR)</div>
          <div class="px-2 py-1 grow break-words line-clamp-[8]">http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{zlib_book_dict.md5_reported}}</div>
          <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://zlibrary24tuxziyiyfr7zd46ytefdqbqd2axkmxm4o5374ptpc52fad.onion/md5/{{zlib_book_dict.md5_reported}}">url</a> <a href="https://www.torproject.org/download/">info</a></div>
        </div>
        {% if zlib_book_dict.in_libgen == 0 %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">Torrent page</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">http://pilimi.org/zlib-downloads.html#{{zlib_book_dict.pilimi_torrent}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://pilimi.org/zlib-downloads.html#{{zlib_book_dict.pilimi_torrent}}">url</a></div>
          </div>
        {% else %}
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">libgen.rs non-fiction</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">http://libgen.rs/book/index.php?md5={{zlib_book_dict.md5_reported}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://libgen.rs/book/index.php?md5={{zlib_book_dict.md5_reported}}">url</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">libgen.rs fiction</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.rs/fiction/{{zlib_book_dict.md5_reported}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rs/fiction/{{zlib_book_dict.md5_reported}}">url</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">libgen.gs</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.rocks/ads.php?md5={{zlib_book_dict.md5_reported}}</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.rocks/ads.php?md5={{zlib_book_dict.md5_reported}}">url</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">libgen.rs non-fiction<br>torrent page</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">http://libgen.rs/repository_torrent/</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://libgen.rs/repository_torrent/">url</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">libgen.rs fiction<br>torrent page</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">http://libgen.rs/repository_torrent/</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="http://libgen.rs/fiction/repository_torrent/">url</a></div>
          </div>
          <div class="flex odd:bg-[#0000000d] hover:bg-[#0000001a]">
            <div class="flex-none w-[150] px-2 py-1">libgen.gs torrent page</div>
            <div class="px-2 py-1 grow break-words line-clamp-[8]">https://libgen.gs/torrents/</div>
            <div class="px-2 py-1 whitespace-nowrap text-right"><a href="https://libgen.gs/torrents/">url</a></div>
          </div>
        {% endif %}
      </div>

      <h2 class="mt-12 mb-1 text-3xl font-bold">Raw JSON</h2>

      <p class="mb-4">
        Below is a JSON dump of the record for this book, straight out of the database. If you want all records, please check out the dataset at the top of this page.
      </p>

      <div class="text-xs p-4 font-mono break-words bg-[#0000000d]">{{ zlib_book_json | escape | replace('\n', '<br>' | safe) | replace('  ', '&nbsp;&nbsp;' | safe) }}</div>
    {% endif %}
  </div>
{% endblock %}
